[2014-06-29 21:52] toin0u opened #6 "Implement meta information about the response"
More info [here](https://developers.digitalocean.com/#meta)

[2014-06-29 21:53] toin0u opened #7 "Implement links information about the response"
More info [here](https://developers.digitalocean.com/#links)

[2014-06-29 21:54] toin0u opened #8 "Implement rate limit"
More info [here](https://developers.digitalocean.com/#rate-limit)

[2014-06-30 23:37] #8 closed, assigned to nobody

[2014-07-01 22:49] toin0u opened #10 "Domain records specification tests"

[2014-07-01 22:50] toin0u opened #11 "Domains specification tests"

[2014-07-01 22:50] toin0u opened #12 "Droplet actions specification tests"

[2014-07-01 22:50] toin0u opened #13 "Droplet specification tests"

[2014-07-01 23:00] toin0u opened #14 "Improve adapter"
Adapter should be able to handle response **better on errors**. Right now we just throw a `RuntimeException`..
- https://developers.digitalocean.com/v2/#statuses
- https://developers.digitalocean.com/v2/#responses

[2014-07-04 20:30] #11 closed, assigned to nobody

[2014-07-04 21:24] #10 closed, assigned to nobody

[2014-07-04 22:21] #13 closed, assigned to nobody

[2014-07-04 22:42] #12 closed, assigned to nobody

[2014-07-05 14:14] #6 closed, assigned to nobody

[2014-07-05 17:01] #14 closed, assigned to nobody

[2014-07-12 14:10] liverbool opened #16 "[BUG] Notice error on create new Droplet."
This's an error message:

[code]

Note: new droplet create will response

[code]

`"toin0u/digitalocean-v2": "master-dev" (0.1.0)`

[2014-07-18 16:49] hipper opened #18 "Bug when creating droplet"
Got an error message:

<pre>Property "DigitalOceanV2\Entity\Droplet::createdAt" should exist.</pre>

[2014-07-19 12:18] #16 closed, assigned to nobody

[2014-07-19 18:14] #18 closed, assigned to nobody

[2014-07-26 20:41] GrahamCampbell opened #29 "Pagination"
I see you're using `PHP_INT_MAX` for digital ocean's "per page" value in pagination. I don't think they will support a number that large, and even if they did, we'd likely run out of memory on our server trying to deal with a dataset that large all at once.

[2014-07-30 16:33] toin0u opened #35 "Add support for Guzzle 4"
See https://github.com/toin0u/DigitalOceanV2/pull/32#issuecomment-50639423

[2014-08-10 13:10] joneslloyd opened #36 "$image->getAll() error"
Hello,

I am using the very latest commit, but when I call the $image->getAll() function, I get the following error

<pre>
Warning: array_map(): An error occurred while invoking the map callback in /var/www/wp-content/plugins/gravityforms-digitalocean/api/src/Api/Image.php on line 33

Fatal error: Uncaught exception 'InvalidArgumentException' with message 'Property "DigitalOceanV2\Entity\Image::ac

[2014-08-10 17:02] #36 closed, assigned to yassirh

[2014-08-14 11:26] bashilbers opened #37 "Issues with sshkey"
It's not possible to create droplets with ssh key fingerprints instead of ids.

Also, I keep getting the following error: "[422] You specified invalid ssh key ids for Droplet creation. (unprocessable_entity)", not sure if it's DO's api or the client library.

[2014-08-20 18:51] joneslloyd opened #38 "Image error"
Hi there,

I'm getting this when I am calling the getAll() function in the Image api:

<pre>
Fatal error: Uncaught exception 'Buzz\Exception\ClientException' with message 'Operation timed out after 5000 milliseconds with 0 bytes received' in /var/www/wp-content/plugins/gravityforms-digitalocean/api/vendor/kriswallsmith/buzz/lib/Buzz/Client/Curl.php:29 Stack trace: #0 /var/www/wp-content/plugins/gr

[2014-08-21 09:37] #38 closed, assigned to nobody

[2014-08-22 12:08] joneslloyd opened #39 "Droplet->getActions() not paginated"
Whereas the getAll() function is paginated:

$droplets = $this->adapter->get(sprintf('%s/droplets?per_page=%d', self::ENDPOINT, PHP_INT_MAX));

The getActions() function is not. I made it paginated for my local copy and it works, but just letting you know :)

[2014-08-30 09:52] #39 closed, assigned to nobody

[2014-09-11 14:08] #37 closed, assigned to yassirh

[2014-10-17 10:44] joneslloyd opened #42 "Property "DigitalOceanV2\Entity\Image::images" should exist."
Hello,

When I try to get all images:
`$image = $do->image();`
`$images = $image->getAll();`

I get the following error:
`Property "DigitalOceanV2\Entity\Image::images" should exist.`

Do you know if the API itself has changed?

Thanks!

[2014-10-21 17:56] taylorotwell opened #43 "Cannot use image "slugs" when creating servers"
I've been trying this for several days off and on and can't get this to work. Passing `ubuntu-14-04-x64` in the "image id" field will not work. I get invalid image errors. Using the BuzzAdapter.

[2014-10-26 22:15] GrahamCampbell opened #49 "Packagist Issue"
The "2.0" version should be manually deleted from https://packagist.org/packages/toin0u/digitalocean-v2. I have no idea how it got there!

[2014-10-27 19:30] #49 closed, assigned to nobody

[2014-10-27 19:35] #35 closed, assigned to nobody

[2014-10-28 18:54] #43 closed, assigned to yassirh

[2014-11-08 20:35] naviace opened #53 "delete this"
Please remove this issue, i wanted to create it with guzzle instead.

[2014-11-08 20:40] #53 closed, assigned to nobody

[2014-11-09 02:46] kiwina opened #54 "Adding guzzle 5"
in composer it says guzzle 5 but the adapter is not a guzzle 5 adaptor

[2014-11-09 04:37] #54 closed, assigned to nobody

[2014-11-10 11:44] georgipetrov opened #55 "Class Browser does not exist"
Fatal error: Class 'Buzz\Browser' not found in /home/isensela/public_html/app/Vendor/DigitalOceanV2/Adapter/BuzzAdapter.php on line 43

[2014-11-10 14:22] #55 closed, assigned to nobody

[2014-11-11 14:59] olli3 opened #56 "domain record update data (not only name)"
would it be possible to update the data for a domain record,
i cant see it is in the code currently

$updated = $domainRecord->update('baz.dk', 123, 'new-name');

could this become

$updated = $domainRecord->updateData('baz.dk', 123, 'new-data');

[2014-11-13 05:37] taylorotwell opened #57 "Library broken again."
http://d.pr/i/1cv7Y/2yg6q7un

The way you are detecting these properties is extremely brittle and is breaking vital production projects.

[2014-11-13 15:34] #57 closed, assigned to nobody

[2014-11-13 23:48] #56 closed, assigned to nobody

[2014-11-14 16:49] adam-cowley opened #58 "Property "DigitalOceanV2\Entity\Droplet::sizeSlug" should exist."
When trying to create a new droplet an `InvalidArgumentException` is thrown:

[code]

Code:

[code]

If I update line 151 of `src/Entity/Droplet.php` from `'slug'` to `'size_slug'`  this solves the issue.

[2014-11-18 19:12] TomMalbran opened #60 "Droplet user data"
Hi. I would like to create droplets with the new user data, but I noticed that this library doesn't support it yet.

https://developers.digitalocean.com/#create-a-new-droplet

Could you add it? Thanks

[2014-11-19 02:08] #58 closed, assigned to nobody

[2014-11-19 02:09] #42 closed, assigned to yassirh

[2014-11-19 14:11] hipper opened #61 "getById issue"
Calling $droplets->getById(3110542) return InvalidArgumentException:

 Property "DigitalOceanV2\Entity\Image::minDiskSize" should exist.

Here is an example:
$adapter = new BuzzAdapter(Yii::app()->params['DOAccessV2']);
$digitalOcean = new DigitalOceanV2($adapter);
$droplets = $digitalOcean->droplet(); // alias to Droplets class.
var_dump($droplets->getById(458652));

[2014-11-19 19:27] #60 closed, assigned to yassirh

[2014-11-20 12:03] #61 closed, assigned to nobody

[2014-11-24 03:55] ghost opened #62 "codeigniter"
Hi

How can i load this API in Codeigniter project

Thanks

[2014-11-25 03:30] #62 closed, assigned to nobody

[2014-12-21 21:29] bytepoet opened #65 "user-data API"
Attempted to pass user-data to no effect.  sfo1 allows userdata, and all my other strings/booleans/integers pass

$userData ='test';
$droplet->create("test.com", "sfo1", "512mb", "ubuntu-14-04-x64", false, false, false, array(), $userData);

seeking a proper example to userdata API

[2014-12-22 10:29] toin0u opened #66 "Add Account API, specs and doc"
https://developers.digitalocean.com/v2/#account

[2014-12-23 11:53] #66 closed, assigned to nobody

[2014-12-23 12:22] #65 closed, assigned to nobody

[2014-12-24 14:39] Alex-query opened #72 "Please correct readme"
Example

<?php

require 'vendor/autoload.php';

use DigitalOceanV2\Adapter\BuzzAdapter;
use DigitalOceanV2\DigitalOceanV2;

// create an adapter with your access token which can be
// generated at https://cloud.digitalocean.com/settings/applications
$adapter = new BuzzAdapter('your_access_token');

// create a digital ocean object with the previous adapter
$digitalOcean = new DigitalOceanV2($adapt

[2014-12-24 19:54] #72 closed, assigned to nobody

[2014-12-29 20:18] fabiopaiva opened #73 "Escape double quotes when create TXT domain record with double quotes"
The problem is in file DigitalOceanV2\Api\DomainRecord line 71
If i have a TXT record with double quotes, eg
"v=spf1 mx include:mailserver ?all"
the result is
{"name":"mydomain", "type":"TXT", "data":""v=spf1 mx include:mailserver ?all""}
Causing error 500

[2015-01-05 22:52] toin0u commented on #73
Thank you for reporting this :) Do you mind to make a PR ?

[2015-01-06 12:06] fabiopaiva commented on #73
Done

[2015-01-06 14:18] toin0u commented on #73
Thank you :)

[2015-01-07 00:02] #73 closed

[2015-01-07 00:14] fabiopaiva commented on #73
happy to contribute

[2015-01-18 12:46] sagikazarmark opened #75 "Why not a http adapter library?"
I am just asking: why not using a HTTP adapter library? @toin0u IIRC you pointed me to ivory http adapter, I was surprised when I saw it isn't used in the library.

[2015-01-22 15:36] Forge-Media opened #76 "Getting droplet IP the right way?"
Hi

I'm having a little bit of an issue, depending on how a Droplet is made (Private networking on or off) the returned Network Array will be slightly different.

I currently get the Droplet's Public IP as such:
[code]
This is causing me a headache, is there no way to get the Droplet's Public IP regardless of the Private networking status, with a single statement?

Just seems a little annoying tha

[2015-01-22 21:58] toin0u commented on #75
@sagikazarmark It's because I started this lib before I knew about IvoryHttpAdapter. I think it can be good to change it :)

[2015-01-22 22:03] GrahamCampbell commented on #75
@toin0u I don't think IvoryHttpAdapter is mature enough to switch to yet. I think we should wait it to mature and stabilize. Probably wait for a 1.0 release on that repo.

[2015-01-22 22:14] toin0u commented on #75
@GrahamCampbell I see your point and it makes sense but we're already using it in the coming Geocoder 3.0 :) What do you think @yassirh @sagikazarmark @liverbool ?

[2015-01-23 00:26] yassirh commented on #75
I'm not really sure. i have never used it before so i would have to take a look and then say. just a quick question... what are the advantages for switching ?

[2015-01-23 03:54] liverbool commented on #75
+1 to use adapter.

[2015-01-23 05:02] sagikazarmark commented on #75
You are already using some sort of adapter packed in this library. The difference is that ivory has much mor implemented HTTP clients.

However it must be noted that it uses PSR 7, which changes every day.

[2015-01-23 11:08] yassirh commented on #75
:+1: from me too. however would it be safe to use it while it is still in an early development stage?

[2015-01-23 17:38] sagikazarmark commented on #75
I would say it is stable enough to use. As @toin0u said, Geocoder is already using it. The underlying PSR7 standard is unstable ATM, but the adapters API will remain the same I think.

[2015-01-24 00:04] toin0u commented on #75
@egeloen follows PSR-7 closely and is very active to update its package if needed :) We do not have any issue with the lib in Geocoder (alpha1).

[2015-01-24 01:15] toin0u commented on #76
Thanks for reporting this @Forge-Media. We will look at it :)

[2015-02-02 22:33] toin0u commented on #76
Hi @Forge-Media

I've given a closer look at this. I don't think it's an issue because you can solve the problem which is, how to get the public IP of a given droplet.

This can be solved with something like:
[code]

Of course, we could provide a helper function but I don't think it's the scope of the lib.

Anyway, hope that helps.

[2015-02-02 22:33] #76 closed

[2015-02-11 23:10] taylorotwell opened #77 "So Broken."
Why does this library **still** break every time DigitalOcean adds a new property to their API? Is this library supposed to be used in production applications?

Property "DigitalOceanV2\Entity\Droplet::nextBackupWindow" should exist.

[2015-02-12 10:03] cphubs opened #78 "droplet->getById"
Hi

$droplet123 = $droplet->getById(4124085);

{"status":false,"message":"Property \"DigitalOceanV2\\Entity\\Droplet::nextBackupWindow\" should exist.","data":""}

I use
"toin0u/digitalocean-v2": "0.5.*@dev"
"kriswallsmith/buzz": "0.13.*",

[2015-02-12 13:28] toin0u opened #80 "Droplet Neighbors Report"
Source: https://developers.digitalocean.com/documentation/changelog/api-v2/droplet-neighbors-report/

[2015-02-12 13:30] toin0u opened #81 "List Droplet Upgrades"
https://developers.digitalocean.com/documentation/v2/#list-droplet-upgrades

[2015-02-12 13:50] #77 closed

[2015-02-12 13:53] toin0u commented on #77
@taylorotwell Sorry for that.. DigitalOcean changes their API by adding / deleting some properties without warning. If you look at the documentation, the property `nextBackupWindow` is not documented at all.. But you're right, we need to find a better way to avoid those exceptions.

[2015-02-12 14:01] toin0u commented on #78
Thank @cphubs for the report. This should be fixed now https://github.com/toin0u/DigitalOceanV2/releases/tag/0.4.2

[2015-02-12 14:01] #78 closed

[2015-02-20 11:23] kwartel opened #82 "Can't request droplets"
When I request a droplet (getAll or getByID), I get the the following error:
![knipsel](https://cloud.githubusercontent.com/assets/3989063/6285346/01102b10-b8fb-11e4-9f47-a9dd3bee84dd.PNG)
This is my code:
[code]
Other requests work.

[2015-02-20 19:02] taylorotwell opened #83 "Library is broken again."
Missing another property. Seriously.

Property "DigitalOceanV2\Entity\Droplet::size" should exist.

[2015-02-20 19:11] GrahamCampbell commented on #83
Really?

[2015-02-20 19:12] GrahamCampbell commented on #83
Are you using 0.5.x?

[2015-02-20 19:12] GrahamCampbell commented on #83
That was meant to fix this.

[2015-02-20 19:12] taylorotwell commented on #83
Ah I'll get upgraded!

[2015-02-20 19:36] taylorotwell commented on #82
Same. Library totally broken.

[2015-02-20 19:37] #83 closed

[2015-02-21 02:47] Forge-Media commented on #82
try this:
[code]

[2015-02-22 14:10] xtrasmal opened #84 "AbstractEntity - Invalid argument supplied for foreach"
I'm using 0.5.* dev version, because of the nextWindow error that's fixed in that version. Still I'm having problems running the droplet service

composer.json:
[code]

The terrors:
[code]
[code]

services.yml
[code]

and for the sake of simplicity;
[code]

Does anybody know how to go from here, without having to hack around in this broken library?

[2015-02-22 14:49] GrahamCampbell commented on #84
Duplicate. Also, do not require all of those dependencies. Only the ones you actually use.

[2015-02-22 22:02] toin0u commented on #83
I though the API changed again x_X
Happy to hear it's working.. :+1:

[2015-02-22 22:06] toin0u commented on #82
@kwartel@taylorotwell which version do you use ? `0.5` should fix it.. https://github.com/toin0u/DigitalOceanV2#entities
@Forge-Media thanks for your snippet.

[2015-02-22 22:23] toin0u commented on #84
@xtrasmal Please try a simple code like this https://gist.github.com/toin0u/ad079714db9f557853a1 and tell me if you have still a problem to retrieve your droplets.

[2015-02-22 22:38] ameliaikeda commented on #82
@toin0u PR is on its way, just spent a little bit figuring out how this actually happens.

[2015-02-22 22:45] toin0u commented on #82
@ameliaikeda Thanks but when I'm using the `0.5` version, I cannot reproduce it.. Anyway, I'll looking forward to your PR :)

[2015-02-22 22:50] taylorotwell commented on #82
I'm using the 0.5 version and creating Droplets with Buzz adapter is
broken. I switched to just not even using the SDK and just using plain
Guzzle.

On Sun, Feb 22, 2015 at 4:45 PM, Antoine Corcy <notifications@github.com>
wrote:

[2015-02-22 22:59] toin0u commented on #82
@taylorotwell thanks for your feedbacks. I'll look at the Buzz adapter asap.

[2015-02-22 23:11] toin0u opened #86 "Issue when creating droplet with Buzz adapter"
See: https://github.com/toin0u/DigitalOceanV2/issues/82#issuecomment-75468565

The issue is with the `create` method: https://github.com/toin0u/DigitalOceanV2/issues/82#issuecomment-75470173

[2015-02-22 23:13] #82 closed

[2015-02-22 23:14] taylorotwell commented on #82
Nice. The `create` method on the SDK is the only method I ever have issues with so I just use Guzzle for that and the SDK for everything else :smile:

[2015-02-22 23:25] toin0u commented on #84
This is related to https://github.com/toin0u/DigitalOceanV2/pull/85 I guess. @xtrasmal Feel free to reopen the issue if you still face the problem.

[2015-02-22 23:25] #84 closed

[2015-02-22 23:26] toin0u commented on #82
@taylorotwell Thanks for this precision - I update the issue and look at this closer asap.

[2015-02-23 09:10] kwartel commented on #82
I replaced the buzz adapter and it works. :) I tried Guzzle5 before and that didn't work out so well, but this is great! :+1:

[2015-02-24 09:07] kwartel opened #87 "Feature request: all user images"
In the api, there is an option to call: /v2/images?type=application
This only requests the user images. This takes a lot less time then requesting all the images and filtering them.

[2015-02-24 09:35] toin0u commented on #87
That's a good idea :) Let's do it!

[2015-02-25 07:58] henno opened #88 "Property "DigitalOceanV2\Entity\Action::regionSlug" should exist."
Probably API changed again.

[2015-02-25 10:44] henno commented on #88
I see that I had an old release running.

[2015-02-25 10:44] #88 closed

[2015-02-25 22:02] toin0u commented on #88
The API is not stable so yes we need to expect changes :) Thanks anyway to come and report!

[2015-02-26 20:54] #87 closed

[2015-02-26 20:58] toin0u opened #89 "Breaking changes in Action objects (March 20, 2015)"
Source: https://developers.digitalocean.com/documentation/changelog/api-v2/actions-breaking-changes-upgrade-path/

[2015-02-26 21:51] toin0u commented on #87
@kwartel Here you go :) https://github.com/toin0u/DigitalOceanV2/releases/tag/0.5.2

[2015-02-26 21:59] toin0u opened #90 "Need to test Droplet create validations"
https://developers.digitalocean.com/documentation/changelog/api-v2/new-droplet-create-validations/

[2015-03-03 12:10] olivercarl opened #91 "Exception: Property "DigitalOceanV2\Entity\Size::available" should exist."
This code was working before, now I get an exception:
$oDropApi = $oDigitalOcean->droplet();
$droplets = $oDropApi->getAll();

[2015-03-03 12:24] #91 closed

[2015-03-03 12:25] olivercarl commented on #91
Sorry, already fixed 5 days ago.

[2015-03-09 16:04] toin0u commented on #91
@olivercarl No problem :)

[2015-03-13 14:40] eduardokum opened #92 "SSL"
Has anyone had this issue?

Uncaught exception 'Buzz\Exception\RequestException' with message 'SSL certificate problem: unable to get local issuer certificate'

My test:
include "vendor/autoload.php";

use DigitalOceanV2\Adapter\BuzzAdapter;
use DigitalOceanV2\DigitalOceanV2;

$adapter = new BuzzAdapter('Personal Access Token');
$digitalocean = new DigitalOceanV2($adapter);
$a = $digitalocean->dom

[2015-03-15 09:47] olivercarl commented on #92
This seems to be a problem of lower layers (curl?), so it would be helpful to know your system configuration (OS, PHP version, etc.)
The error indicates that the client (your PHP application) is unable to verify the certificate provided by Digital Ocean. As nobody else seems to have the issue, I would suspect that you are using some old version of PHP or any other involved component.

[2015-03-16 17:59] toin0u commented on #92
@eduardokum I've just tested your script and I do not have any issue. I close it as it does not look like to be an issue with the lib as @olivercarl wrote. Feel free to post more info if you need helps :)

[2015-03-16 17:59] #92 closed

[2015-03-16 18:12] toin0u opened #93 "Sizes available"
Size objects now expose an `available` boolean attribute, which represents whether new Droplets can be created with the size.

Source: https://developers.digitalocean.com/documentation/changelog/api-v2/sizes-available/

Related to: https://github.com/digitalocean/api-v2/issues/126

[2015-03-16 18:13] toin0u opened #94 "Add type attribute to image object"
Images objects now return a `type` attribute, describing whether they are snapshots, backups or temporary images. For more information, see the [images documentation](https://developers.digitalocean.com/documentation/v2/#images).

Source: https://developers.digitalocean.com/documentation/changelog/api-v2/add-type-to-images/

[2015-03-16 18:22] #93 closed

[2015-03-16 18:22] #94 closed

[2015-03-17 20:22] toin0u commented on #90
Done :)

[2015-03-17 20:22] #90 closed

[2015-03-17 21:04] #80 closed

[2015-03-17 21:04] #81 closed

[2015-03-17 21:04] #89 closed

[2015-03-19 22:06] eduardokum commented on #92
My php is 5.4 running on a mac os x
I don't understand it. :/

[2015-03-20 08:38] toin0u commented on #92
I think you need to try a simple cURL against a HTTPS sites.

[2015-04-02 16:33] henno commented on #92
I'm getting this error, too.

It appears to occur on latest Xampp (3.2.1) and is caused by the curl version used in that version (7.39). Basically curl does not have access to trusted root certificates which can be separately downloaded from http://curl.haxx.se/docs/caextract.html

There are 2 ways to get by this error: either modify guzzle (or buzz) to stop verifying the SSL certificate (bad) or

[2015-04-02 16:58] henno commented on #92
See these:
http://stackoverflow.com/a/6400746/584750
http://stackoverflow.com/a/16495053/584750

[2015-04-02 18:04] GrahamCampbell opened #95 ""API v2 Officially Leaves Beta""
https://www.digitalocean.com/company/blog/apiv2-officially-leaves-beta/

Are we nearing a point to tag a stable release here?

[2015-04-05 16:26] yassirh commented on #95
(y)

[2015-04-05 16:28] yassirh commented on #95
:+1:

[2015-04-16 07:39] toin0u commented on #95
@GrahamCampbell @yassirh done! https://github.com/toin0u/DigitalOceanV2/releases/tag/1.0.0

[2015-04-16 07:39] #95 closed

[2015-04-25 02:43] meglio opened #98 "QQ: Why should we specify dependencies manually?"
Hello,

In your installation instructions, you say we should include guzzle and buzz manually in our composer.json - why can't it just be an auto-installed dependency?

[2015-04-25 08:47] GrahamCampbell commented on #98
Because users should have a choice which one they use. Installing them both would be silly, and could cause conflicts.

[2015-04-25 08:48] GrahamCampbell commented on #98
You should include ONE of them, not both, unless you plan to use both adapters for some reason?

[2015-04-25 13:41] meglio commented on #98
Okay I see - only one of them. Now it makes sense. Thank you for clarifying.

[2015-04-25 13:41] #98 closed

[2015-05-31 15:15] GrahamCampbell commented on #86
This could be solved by #75 could it not?

[2015-07-28 16:10] jaimeeee opened #104 ""PHP Fatal error: Class 'Buzz\\Browser' not found" when using guzzlehttp/guzzle library"
I tried installing DigitalOceanV2 though composer with the **guzzlehttp/guzzle** library, but once using it I got this error:

    PHP Fatal error: Class 'Buzz\\Browser' not found in /SITE/vendor/toin0u/digitalocean-v2/src/Adapter/BuzzAdapter.php on line 43

Then I changed my library to **kriswallsmith/buzz** and it worked, so I suppose it might be a bug?

[2015-08-14 08:19] sadikoff opened #106 "Domain::getAll pagination bug"
DigitalOcean Api has limitation in domain response. It's 200 domains max. In that case we can't get all domains from api, if number is greater than 200. It would be better to rely on API information about domain count and pagination to get all data.

[2015-10-02 15:00] sevenpixels commented on #104
@jaimeeee it's not a bug, the documentation is a little off in the example. It loads the Buzz adapter rather than the Guzzle adapter. Just use the code below and it works.

[code]

[2015-10-02 20:09] #104 closed

[2015-10-02 20:10] GrahamCampbell commented on #104
If you want to use buzz, install it; if you want guzzle, install that. Sorry if that wasn't clear.

[2015-10-02 20:14] jaimeeee commented on #104
It was clear, I ended up using another library, that's why I posted this issue. So it's only an issue on the documentation then? Why not update it? :)

Thanks!

[2015-10-13 14:34] jeremykendall opened #107 "OpenSky Symfony2-coding-standard repo is 404"
From CONTRIBUTING.md

The [OpenSky Symfony2 coding standard repository] is 404. Is there another set of PHP_CodeSniffer rules that might replace the OpenSky rules?

[2015-10-13 15:06] GrahamCampbell commented on #107
Can we change this to say use php-cs-fixer - by definition, that is correct, and anything else needs to match php-cs-fixer's behaviour, otherwise it's wrong.

[2015-10-13 15:16] jeremykendall commented on #107
:100:

[2015-10-13 19:04] toin0u commented on #107
@jeremykendall Thanks for reporting it. Do you mind to make a PR? :)

[2015-10-13 19:43] jeremykendall commented on #107
@toin0u Done!

[2015-10-16 08:31] #107 closed

[2015-11-30 20:26] plutus78 commented on #106
oh yes, we need this, too. Very urgent .-(

[2015-12-02 01:41] cagataygurturk opened #112 "422 at droplet creation."
Since yesterday I am getting 422 when I am trying to create a droplet. Fixing the header as follows helped to resolve:

https://github.com/cagataygurturk/DigitalOceanV2/commit/0324eb8bb8e59b3def2554cfdbb21b4c0c981834

All the post requests might be problematic. Can you look if you have the same problem?

[2015-12-08 07:33] splitice commented on #112
Can second this, additionally this statement is extremely duplicated - should be abstracted into adapter.

[2015-12-18 00:43] sagikazarmark commented on #75
Hey guys,

I would like to give you some up-to-date information.

Today we tagged HTTPlug 1.0.0-beta.

Two questions might arise immedately: Who are "we"? What is HTTPlug?

By "we" I mean the [PHP HTTP Team](https://github.com/php-http). @egeloen and I started it. At the first time we wanted to stabilize the adapter package, separate it into smaller components. After half year of work HTTPlug was

[2015-12-21 15:28] GrahamCampbell commented on #106
We're open to PRs. ;)

[2015-12-21 16:41] GrahamCampbell commented on #112
What adapter?

[2015-12-21 17:33] #112 closed

[2015-12-21 17:33] GrahamCampbell commented on #112
Fixed. Turns out some bad assumptions where made that didn't work across all adapters.

[2015-12-21 17:40] GrahamCampbell commented on #112
Let me know if my fix worked for you.

[2015-12-21 17:40] GrahamCampbell commented on #112
Yeh, I totally agree, and I've made that change.

[2015-12-21 17:42] #75 closed

[2015-12-21 17:42] #86 closed

[2015-12-21 17:43] sagikazarmark commented on #75
@GrahamCampbell why is this closed without explanation?

[2015-12-21 17:44] GrahamCampbell commented on #75
We simply don't need it. Our adapters work just fine, and I don't think we should bother trying to support numerous other libraries.

[2015-12-21 21:44] GrahamCampbell commented on #86
Just tested creating a droplet using buzz 0.15, guzzle 3.9, guzzle 5.3, and guzzle 6.1. All of them worked.

[2015-12-21 21:45] #106 closed

[2015-12-21 21:45] GrahamCampbell commented on #106
Not really a bug either. Just a missing feature.

[2015-12-21 21:45] GrahamCampbell commented on #106
Duplicate of https://github.com/toin0u/DigitalOceanV2/issues/29.

[2015-12-21 22:36] GrahamCampbell commented on #112
I've just manually tested droplet creation and deletion using buzz 0.15, guzzle 3.9, guzzle 5.3, and guzzle 6.1. All of them work now.

[2015-12-22 11:15] xabbuh commented on #75
@GrahamCampbell But this would enforce me to install more than one HTTP client library if I wanted to use this package and I am already using another HTTP client library for other code in my application.

[2015-12-22 11:21] GrahamCampbell commented on #75
Yes, it would. Most people use one of guzzle 3->6 or buzz though. That covers most bases.

[2015-12-22 11:26] xabbuh commented on #75
Honestly, I don't understand why you insist on implementing features in this package (i.e. adapting HTTP client libraries) which is not part of the package's core domain when there is a library that does this job quite well.

[2015-12-22 11:28] GrahamCampbell commented on #75
I may review this again in a year once this situation has matured, since this library was already moved about and stuff changed.

[2015-12-22 11:29] sagikazarmark commented on #75
Well, it is not stable yet, so any concerns regarding stability might be acceptable. Also, our "marketing" side was probably not the best in the past, but as we are closing to a stable release, we will definitely improve this.

Apart from that, I agree with @xabbuh.

Our interfaces are pretty stable now, we are cleaning up implementation details which means that the project itself is ready for com

[2015-12-22 11:31] GrahamCampbell commented on #75
As I said, I'll review this in a year's time, and if people are actually adopting this, and it looks solid, then I'll seriously consider moving to it.

[2016-01-13 18:48] pedroparraortega opened #120 "Clone Droplet"
Hi congrats 4 your work, it's awesome bundle. I'm using it on my symfony2 app and i would to know how could i clone a droplet from snapshot???

Thx in advance

[2016-01-13 18:51] #120 closed

[2016-01-13 18:51] GrahamCampbell commented on #120
https://github.com/toin0u/DigitalOceanV2/blob/master/src/Api/Droplet.php#L118

[2016-01-13 18:52] GrahamCampbell commented on #120
https://developers.digitalocean.com/documentation/v2/#create-a-new-droplet

[2016-01-13 19:06] pedroparraortega commented on #120
i've tried to create a droplet using the droplet id, and name, but not working. i'll read again the documentation. thx

[2016-01-13 19:10] pedroparraortega commented on #120
Sorry, i've tried the wrong image id.... soz

[2016-01-13 19:10] yassirh commented on #120
You turnoff your droplet then take a snapshot of it and finally use the snapshot  (should be in images ) to create a new droplet.

[2016-01-13 19:12] GrahamCampbell commented on #120
@yassirh

[2016-01-13 19:54] yassirh commented on #120
@GrahamCampbell Yes, Actually a snapshot or a backup for that matter are accessible [through the API as images](https://developers.digitalocean.com/documentation/v2/#list-a-user-s-images) and to identify the last snapshot you can use the fields created_at and type.

[2016-02-23 21:22] yassirh opened #122 "Implement floating ips"
"Floating IP objects represent a publicly-accessible static IP addresses that can be mapped to one of your Droplets. They can be used to create highly available setups or other configurations requiring movable addresses."

Documentation https://developers.digitalocean.com/documentation/v2/#floating-ips

[2016-02-23 22:33] toin0u commented on #122
:+1:

[2016-02-24 00:30] GrahamCampbell commented on #122
I thought I already implemented them?

[2016-02-24 00:31] GrahamCampbell commented on #122
https://github.com/toin0u/DigitalOceanV2/blob/master/src/Api/FloatingIp.php

[2016-02-24 01:30] yassirh commented on #122
Oh that's great! My local version was pointing at my fork which is out of date. My bad :)

[2016-02-24 01:30] #122 closed

[2016-03-11 22:13] patrioticcow opened #123 "SPL Loader request"
I'm using some older code... is there an autoloader.php, somewhere..

thanks

[2016-03-11 23:30] #123 closed

[2016-03-11 23:30] GrahamCampbell commented on #123
No, sorry. I'd recommend just writing your own generic psr4 autoloader, or just use composer's or symfony's.

[2016-03-11 23:31] GrahamCampbell commented on #123
Or, just use composer?

[2016-03-11 23:31] GrahamCampbell commented on #123
You can use composer with any code base, even if this package is the only thing installed into your code base with it.

[2016-03-11 23:32] patrioticcow commented on #123
I managed to use composer... I just wanted to keep the current code practice I'm using.

Thanks

[2016-04-09 21:52] GrahamCampbell opened #125 "Tagging support"
https://developers.digitalocean.com/documentation/v2/#tags

[2016-04-18 05:04] tsramarnath opened #126 "Create droplet with SSH key"
To use SSH keys in your create request, simply add the new paramater ssh_key_ids with a comma separated list of SSH Key IDs that you would like added to the new server that you will create:

https://api.digitalocean.com/droplets/new?name=[DROPLET_NAME]&size_id=[SIZE_ID]&image_id=[IMAGE_ID]®ion_id=[REGION_ID]&client_id=[YOUR_CLIENT_ID]&ssh_key_ids=[SSH_KEY_ID1],[SSH_KEY_ID2]

ssh_key_ids=[SSH_KEY_I

[2016-05-03 11:41] dinorhino opened #127 "Echo Information"
Hello,

Just curious how I would exstract the information from the query and be able to echo it out on the page? For instance being able to echo the ID of the server in which has been created etc.

Hopefully you'll be able to help!

Cheers :smiley:

[2016-05-16 12:47] tahmasebi opened #128 "timeout problem"
Sometimes I receive this error:
[code]
Where is the problem? the problem is for my internet connection or DigitalOcean disconnects it?

[2016-05-16 15:29] #128 closed

[2016-05-16 15:29] GrahamCampbell commented on #128
Looks like your internet connection is a bit wobbly.

[2016-05-16 15:30] GrahamCampbell commented on #128
An easy fix is to use either of the guzzle adapters with their retry subscriber, by passing in a custom client instance as the 2nd param.

[2016-05-20 20:14] MargoJunker opened #129 "Can't get it to work..."
Hello!

I have little proble. I would love to have ability to create, see and delete droplets from my wordpress site, but I can get it to work...

I have downloaded composer, moved composer.phar to wordpress/wp-content/themes/my-theme folder.
I have done php composer.phar require toin0u/digitalocean-v2:~2.0 and php composer.phar require guzzlehttp/guzzle:~6.0.

Now when im makeing a php page with

[2016-05-23 11:29] #129 closed

[2016-05-24 09:00] romanzipp opened #130 "Floating IP API"
Are there plans for implementing the [Floating IP](https://developers.digitalocean.com/documentation/v2/#floating-ips) Endpoint?

[2016-05-24 09:08] romanzipp commented on #130
I spotted the API in the source code. Maybe you can add this to the Documentation.

[2016-05-24 09:08] #130 closed

[2016-07-14 15:26] yassirh opened #131 "Support for Block Storage"
https://developers.digitalocean.com/documentation/v2/#block-storage

[2016-07-14 21:01] #131 closed

[2016-07-15 10:46] yassirh opened #135 "Support for Block Storage Actions"
https://developers.digitalocean.com/documentation/v2/#block-storage-actions

[2016-07-16 14:55] #135 closed

[2016-07-16 15:12] yassirh commented on #127
@dinorhino sorry for the late response. Actually, when you create a Droplet you get a `DigitalOceanV2\Entity\Droplet` back that contains all the information about the newly created Droplet including its ID.

[2016-07-16 15:13] #127 closed

[2016-07-17 15:56] yassirh commented on #126
What is the issue? or the question?

[2016-08-09 16:24] jpg5f2 commented on #29
I see it is using a static 200 now, but the actual page is not being specific, limiting users to 200 droplets.  Should a page parameter be added to droplet getAll?

[2016-09-22 15:51] toomas1968 opened #145 "Delete Droplet"
Hello, i have an issue. It most probably is because of my lack of knowledge about php.

I have a code where i display Digitalocean account email and droplet info

foreach($droplets as $drop) {
        echo "Droplet name: ".  $drop->name. "<br />";
        echo "Droplet Id: " . $drop->id. "<br /><br />";
       echo //form for delete
    }

problem is that if i have 10 droplets and i want to delete

[2016-09-23 03:26] blakeitcc commented on #126
Not sure how to add SSH Keys using v2 PHP SDK.  e.g. $droplet->create('name', 'nyc1', '1gb', 2343432, [70217,70272,70553]);

How do you pass in an array of SSH key ids at the end causes an error?

[2016-10-01 14:14] jimmydburr opened #146 "Getting "PHP Fatal error" when using BuzzAdapter"
FYI, I'm getting an error in both my own code or just following the standard examples in the Readme.md when using the BuzzAdapter. Swapping out BuzzAdapter for GuzzleHttpAdapter cures the problem with no other code changes.

In every case, the problem lies in the BuzzAdapter's FileGetContents.php. Example:
PHP Fatal error:  Uncaught exception 'Buzz\Exception\RequestException' with message 'file_ge

[2016-11-12 23:16] ahmedash95 commented on #125
Hi Graham, it supports tags now #148

[2016-12-01 01:01] joegarbett opened #151 "SSH keys?"
In the function call, $dropley->create(...), there's the SSH keys argument, but its not clear what that is?

Could you clarify for me if it Is the ID of the key from digitalocean, or the key itself??

[2016-12-07 12:40] insidieux commented on #125
Please make tag for this feature, so i'll can update my composer and fetch changes

[2016-12-07 23:03] joegarbett commented on #151
Anyone?

[2016-12-08 10:53] olivercarl commented on #151
It's the identifier of the SSH key, a number. You can find it with
	$oDigitalOcean = new DigitalOceanV2($adapter);
	$oKeyApi = $oDigitalOcean->key();
	$oKeys = $oKeyApi->getAll();
	var_dump( $oKeys );

[2016-12-28 01:15] lfxc opened #152 "unable to set curl timeout"
first off, nice job with thi API!

could you pls add this method to src/Adapter/BuzzAdapter.php

$adapter = new BuzzAdapter($some_key);
public function getBrowser(){
        return $this->browser;
}

we are then able to set  the curl timeout:
     $adapter->getBrowser()->getClient()->setTimeout(20);

thx!

[2017-01-15 20:58] #152 closed

[2017-01-15 20:59] lcanali opened #157 "when an error is thrown, any way to also get the error code vs just the error message?"
The DO folks said that processing or error code versus error message should be the way to go.

thanks!

[2017-01-26 16:34] jimmydburr opened #158 "Untrapped exceptions when using DigitalOceanV2\Exception"
I'm getting uncaught exception errors, even though I'm using DigitalOceanV2\Exception code like so:

[code]

The exception is:

[code]

I guess I'm confused. Should I be using Guzzle's exception handling or don't these "bubble up" through the api's exception handling?

Thanks,

Jim...

[2017-02-15 11:30] doreto opened #160 "[Enhancement] Support for DigitalOcean Load Balancers"
https://www.digitalocean.com/community/tutorials/an-introduction-to-digitalocean-load-balancers

[2017-04-17 13:40] samuelfac commented on #158
I have the same issue, when I try to use **takeDropletSnapshot**" of **DigitalApiClient JAVA - 2.8**.
Java 7.

Stack:
[code]

[2017-04-17 14:46] Teevio opened #163 "Expand Core Team / Move to GitHub Organization"
Hey @toin0u @GrahamCampbell @yassirh (not sure who to tag here), DigitalOcean has been making many strides in their API, with lots more in the works.  This Github repo is invaluable to the PHP community and those who are using Laravel, but it seems like nothing is happening in regard to pull requests and enhancements.

If there is no interest in continuing the maintenance of this repo, it'd be awe

[2017-04-17 15:00] GrahamCampbell commented on #163
This repo remains maintained, but as with all community projects, we appreciate community PRs to add new things.

[2017-04-17 15:05] GrahamCampbell commented on #163
Looks like the current PRs are not ready to be merged yet.

[2017-04-17 15:06] GrahamCampbell commented on #146
Thanks for the report.

[2017-04-17 15:07] GrahamCampbell commented on #158
That issue is unrelated. The exception is totally correct, that is not the bug here. The issue here was reporting the exception hierarchy.

[2017-04-17 15:08] Teevio commented on #163
Thanks, but there has been zero responses to the PRs, so I think people who are making changes, just don't know what's going on.

[2017-04-17 15:14] GrahamCampbell commented on #163
Yeh, that's fair. I have no objections to you coming on board as a collaborator, though I guess it's not really totally up-to-me.

TBH, I'd quite like to see this repo moved to an organization, where it can get some proper love from a small core team.

// cc @toin0u

[2017-04-17 15:15] GrahamCampbell commented on #163
I've updated the issue title to reflect what I think should probably happen here. :)

[2017-04-17 15:38] Teevio commented on #163
Awesome 👍 I'll try and help out with stuffs around here too.  DO is going to be adding in API support for all of their monitoring features so it's going to be a little more busy around here.

[2017-04-17 16:12] samuelfac commented on #158
Sorry and Tks.

[2017-04-17 16:13] samuelfac opened #164 "takeDropletSnapshot error"
When I try to use **takeDropletSnapshot** of **DigitalApiClient JAVA - 2.8** with Java 7, this exception occurs:

Stack:
[code]

[2017-04-17 18:39] Teevio commented on #164
Hi there, since Droplet actions take time they can only be done one at a time.  This is not an issue with this codebase, but something that you will need to accommodate for in your code.  That error you are seeing is letting you know that an action is already being executed on the Droplet.  You need to actually check a Droplet's action to make sure that nothing is in progress, before you execute a

[2017-04-17 18:39] #164 closed

[2017-04-17 18:40] GrahamCampbell commented on #164
This repo also has nothing to do with whatever java library you are using.

[2017-04-18 14:53] #125 closed

[2017-04-18 14:53] #145 closed

[2017-04-18 14:53] #151 closed

[2017-04-18 14:59] Teevio commented on #126
This functionality already exists in the Droplet creation code: https://github.com/toin0u/DigitalOceanV2/blob/master/src/Api/Droplet.php#L119

[2017-04-18 15:04] GrahamCampbell commented on #146
What version are you using please?

[2017-04-18 15:04] #126 closed

[2017-04-18 15:14] Teevio commented on #29
Does this issue apply anymore?  The `$per_page` and `$page` variables exist for the getAll function.

[2017-04-18 15:18] Teevio commented on #7
Updated link for relevant docs: https://developers.digitalocean.com/documentation/v2/#links

[2017-04-18 15:32] GrahamCampbell commented on #29
The issue was rather about automatic pagination, so we could get all, and then the library would iterate over all the pages for us.

[2017-04-18 15:52] jimmydburr commented on #146
From the composer file...
[code]
Please let me know if you need more info.

Thanks,

Jim...

[2017-04-18 16:37] jimmydburr commented on #146
Thanks, Graham... here ya go.
[code]

[2017-04-18 16:39] GrahamCampbell commented on #146
I'm confused. You've reported an issue with the buzz adapter, yet you are using guzzle?

[2017-04-18 16:44] jimmydburr commented on #146
Correct. I had no choice but to switch to guzzle to get my code to work. I am reporting the bug in Buzz, which if I recall correctly, is the default.

[2017-04-18 18:11] GrahamCampbell commented on #146
Nope, there is no default. Guzzle 6 is the one I'd recommend tho.

[2017-04-19 13:24] yassirh commented on #163
Hello everyone, I have not been able to review/merge any PRs recently. As @GrahamCampbell have mentioned this library is still maintained.

As for expanding the core team, I think that it is a good idea 👍

[2017-04-19 13:28] GrahamCampbell commented on #163
Since this repo does not belong to an organization, we need @toin0u to personally add @Teevio as a collaborator, or to move this repo to an organization.

[2017-04-26 13:41] insidieux opened #168 "No possibility to list pages in \DigitalOceanV2\Api\DomainRecord"
Digital Ocean API support paging in lists requests
Method `\DigitalOceanV2\Api\DomainRecord` `getAll` in current last version return only 200 elements from first page
Need possibility to set `page` and `per_page` parameters for request

[2017-04-26 13:45] Teevio commented on #168
@insidieux you want to give a shot at forking, updating and doing a pull request with those changes?  It should be very similar to how `Droplet::getAll` is functioning: https://github.com/toin0u/DigitalOceanV2/blob/master/src/Api/Droplet.php#L34

[2017-04-28 08:19] ghost opened #169 "FatalErrorException in GuzzleHttpAdapter.php line 135: #13"
Using: https://github.com/GrahamCampbell/Laravel-DigitalOcean

Got this installed and setup - updated my digitalocean.php config file with my tokens.

Running any command e.g.
DigitalOcean::connection('main')->region()->getAll();

Results in:
FatalErrorException in GuzzleHttpAdapter.php line 135:
Call to a member function getBody() on null

I am using guzzlehttp.

Token is correct if I run a DO AP

[2017-05-02 17:07] aggrogg commented on #169
Any update on this guys? Waiting for this for my project, cheers.

[2017-05-02 17:11] GrahamCampbell commented on #169
We'd accept a PR to fix this from you. I won't be investigating this I'm afraid, due to time constraints.

[2017-05-11 02:49] lfxc opened #171 "How should you go about getting the ip address for a droplet"
seems like something has changed at DO.

[2017-05-11 08:48] #171 closed

[2017-05-22 02:49] screamolic commented on #146
im change using guzzle , but its show another error like this.
Class 'DigitalOceanV2\Adapter\Guzzle5Adapter' not found in C:\xampp\htdocs\digitalocean\index.php on line 48

and i got this "Package guzzle/guzzle is abandoned, you should avoid using it. Use guzzlehttp/guzzle instead."

[2017-05-22 04:29] screamolic opened #173 "help me"
anyone can give me example code to parser all data?

i got
Fatal error: Cannot use object of type DigitalOceanV2\Entity\Droplet as array in C:\xampp\htdocs\digitalocean\index.php on line 111

[2017-05-22 14:34] PixellUp commented on #173
Parse what data? Be more specific. Also, it would help as if you show as around line 111

[2017-05-22 14:45] Teevio commented on #173
@screamolic data passed back is in object format, sounds like you are trying to use it as an array.  It'd be helpful to see the code you are talking about, as that would help us point you in the correct direction.

[2017-06-01 00:17] iRuisu opened #175 "DomainRecord Update"
Would anyone be able to give me an example on how to update a DomainRecord, preferably an NS record?

Thank you!

[2017-06-01 14:17] Teevio commented on #175
Hi there @iRuisu , I'd highly recommend you look at the source code for updating the DomainRecord:

https://github.com/toin0u/DigitalOceanV2/blob/master/src/Api/DomainRecord.php#L129

as well as the corresponding API docs:

https://developers.digitalocean.com/documentation/v2/#update-a-domain-record

As it pertains to this API, the `$domainName` and the `$recordId` are required.  If you do not hav

[2017-06-01 17:27] iRuisu commented on #175
Much appreciated @Teevio, looking at the source code makes it easier to know what params to give!

[2017-06-04 12:53] yassirh commented on #175
@Teevio Thank you for the response.

@iRuisu Your question made me realize that the library could use some documentation. It is now available here : https://cdn.rawgit.com/toin0u/DigitalOceanV2/master/documentation/index.html

For the domain records update : https://cdn.rawgit.com/toin0u/DigitalOceanV2/master/documentation/classes/DigitalOceanV2.Api.DomainRecord.html#method_update

[2017-06-04 12:53] #175 closed

[2017-06-04 12:54] yassirh commented on #173
@screamolic can you show us some code? with a clearer description of your issue?

[2017-06-13 03:51] screamolic commented on #173
sorry my bad. im still learning php. i need more example.  :)

[2017-07-15 19:10] rodrigoaguilera opened #177 "Add an option to wait for the droplet to be active for the droplet create call"
I took the idea from the ansible module
http://docs.ansible.com/ansible/digital_ocean_module.html

The use case is to be able to retrieve the networking information on single call

[2017-07-19 21:02] lfxc opened #179 "What is the correct way to create a droplet and then get its public v4 and v6 ips?"
thanks!

[2017-07-19 22:46] GrahamCampbell commented on #179
Please see the examples on the readme. They detail both these tasks.

[2017-07-19 22:46] #179 closed

[2017-08-05 15:42] eddiejibson opened #180 "Help with the API - having some problems."
Hi @toin0u,

So I'm relatively new to PHP, and especially the Digital Ocean API for PHP that has been nicely created. I've created this issue in hope of solving the problems I was having trying to implement it into the project I've been working on. Any help regarding the matter would be greatly appreciated.

Anyway, so basically, I was trying to fetch information about a specific domain and tried

[2017-08-07 15:14] Teevio commented on #180
Hi there @eddiejibson the response that this library returns is an object, not an array.  For example if you wanted to get all the non attached floating IPs you might do something like this:

		$FloatingIps = DigitalOcean::floatingIp()->getAll();
		$ips = [];

		foreach ($FloatingIps as $FloatingIp) {
			if (is_null($FloatingIp->droplet)) {
				$ips[] = [
					'ip' => $FloatingIp->ip
				];
			}

[2017-08-07 17:02] eddiejibson commented on #180
Great, @Teevio, thank-you very much.

I assume I can echo out various information about domains within that loop too?

[2017-08-07 17:04] Teevio commented on #180
Yes, you should reference the DO API docs to see what DO is going to be returning in a specific response.

[2017-09-15 03:32] ppcheng opened #181 "Question regarding the proper way to create a droplet with ssh_keys"
According to Digital Ocean docs, if we successfully create a droplet with ssh_keys, then their system will not send any root password emails. However, when I was using the creation api with $sshKeys specified, I still receive the root password email every time a droplet is created successfully. What is the proper to create a droplet with ssh keys without any need of root password email?

[2017-09-15 03:35] ppcheng commented on #181
This is the code I was using:
[code]

[2017-09-25 16:33] Gamper-RO opened #182 "Account locked"
My account got locked after identity verification. Any help?

[2017-09-25 19:34] #182 closed

[2017-09-25 19:35] GrahamCampbell commented on #182
Probably contact digital ocean.

[2017-11-02 13:39] lfxc commented on #76
explaining how to use the array_map function to get the pulbic ip's was very helpful.   Please consider adding it to the "howto" page for others.

[2017-11-02 15:46] lcanali opened #188 "ip addresses aren't always returned"
I implemented your suggestion to retrieve the ip addresses as suggested here: https://github.com/toin0u/DigitalOceanV2/issues/76

$ips = array_map(function ($network) {
    if ('public' === $network->type) {
        return $network->ipAddress;
    }
}, $userAtom->networks);
echo $ips[0];

but I'm still getting instances where I simply keep polling  for the ips to show up and they never do.  Meanwh

[2017-11-08 04:11] bitgandtter opened #189 "any support for the new spaces api?"
Im really interested on using the new spaces api, there is any support already or in the upcoming months?

[2017-12-05 17:21] bravadomizzou opened #190 "Fatal error when handling error"
Fatal error: Call to a member function getBody() on a non-object in /vendor/toin0u/digitalocean-v2/src/Adapter/GuzzleHttpAdapter.php on line 133

line in question: `$body = (string) $this->response->getBody();`

I get this error almost weekly (usually a direct result of Digital Ocean experiencing networking problems) and it breaks a cronjob, the issue seems to be that sometimes there is no respons

[2017-12-21 10:32] viion commented on #189
This would be greatly appreciated, tempted to look at it myself. For those who are coming here looking for support and need a solution now, due to the simplistic object implementation digital ocean has you can just use Amazon PHP SDK and connect to it via their S3 client.

https://www.digitalocean.com/community/questions/how-to-uses-digitalocean-spaces-with-the-aws-s3-sdks

[code]

[2017-12-27 17:26] enygma opened #191 "Can we get a new release?"
It looks like there's been some useful stuff added since the last release (`2.2.0` back in April 2017) . Any chance we could get a newer version to get some of these goodies?

[2018-03-15 04:41] scp commented on #163
Any update on this? Shame to see the library get stale as the API advances.

I'm sure there are plenty in the community who would see it's kept up to date if they were given access.

Otherwise perhaps it's a good idea to fork to ensure development continues @Teevio ?

[2018-03-15 12:53] Teevio commented on #163
@scp I was never added (which is fine since I haven't been doing much PHP anymore), but I'd definitely suggest forking this and actively developing elsewhere.

[2018-03-22 16:16] ghost opened #195 "Appears to break with Buzz v0.16.1"
Appears to fail with the latest release of [Buzz](https://github.com/kriswallsmith/Buzz)

I haven't looked too closely, but it appears to not be sending the bearer token via the preSend listeners.

[2018-03-23 03:45] lukepolo commented on #195
I also am getting this

[2018-04-04 05:08] fedekrum opened #196 "Add MX domain record"
Hi...more than an issue is a favor !!!

Can you put on the main page an example of adding a MX record to a domain?
I can't make it work.

Thanks

[2018-05-30 01:10] surgiie commented on #169
Was there a fix on this? Hitting the same issue.

[2018-06-30 11:07] krisnaw commented on #181
Same issue. I've tried using, ID, Name, and fingerpring. But its keep getting email.
 For example `$sshKeys = ['1232435']`

[2018-07-19 08:40] daniel-farina commented on #181
Thank you I was about to post the same reply.

I got it to work as you said by doing:
[code]

[2018-07-19 08:48] krisnaw commented on #181
I think we can close this case

[2018-08-01 19:52] codegeek1001 commented on #195
yea, i am also seeing an issue where I get "Call to undefined method Buzz\Browser::addListener()". Since buzz 0.17, they removed the Listeners but this library has not updated for that change.

[2018-08-02 06:19] alignwebs opened #197 "Unable to authenticate you"
For a while now i am facing this issue. No idea why ?

`Fatal error: Uncaught DigitalOceanV2\Exception\HttpException: Unable to authenticate you. in /usr/share/nginx/html/api/do/vendor/toin0u/digitalocean-v2/src/Adapter/BuzzAdapter.php:145 Stack trace: #0 /usr/share/nginx/html/api/do/vendor/toin0u/digitalocean-v2/src/Adapter/BuzzAdapter.php(130): DigitalOceanV2\Adapter\BuzzAdapter->handleError(Obj

[2018-08-06 19:40] san-kumar commented on #197
Getting the same error too

[code]

[2018-08-17 22:11] lcassisi commented on #197
same problem here

[2018-08-23 03:45] hailite opened #198 "API request: Create droplets from snapshots"
Currently snapshots APIs only have List/Delete. Can we have one to create new droplets from a snapshot? Thanks

[2018-08-23 03:53] hailite commented on #195
Same issue here.
[code]

[2018-08-23 04:35] hailite opened #199 "PHP Fatal error: Uncaught Error: Class 'Buzz\Browser' not found"
With latest package version installed, get following error:
[code]

Composer package info:
[code]

[2018-08-23 09:29] GrahamCampbell commented on #199
Looks like you are trying to use the buzz adapter but you have not installed buzz. You need to use the guzzle adapter instead.

[2018-08-23 09:29] #199 closed

[2018-08-23 14:10] hailite commented on #199
Please check https://github.com/toin0u/DigitalOceanV2/issues/195

After added ` kriswallsmith/buzz:~0.10`, it still has issue.

[2018-09-01 00:33] TensorTom commented on #195
There is still no solution to this. It doesn't matter which adapter I use. I still get this error.

`PHP Fatal error:  Uncaught Error: Call to undefined method Buzz\Browser::addListener()`

[2018-09-01 09:30] GrahamCampbell commented on #195
Does it work with Buzz 0.15.2?

[2018-09-04 08:48] GrahamCampbell commented on #195
We can't support the latest version of buzz without breaking support for existing versions. We should update our readme to give the supported ranges, and then make a second issue to the backlog for supporting either new buzz, or using phphttp or something.

[2018-09-08 01:13] edanisko opened #200 "async issues in queued jobs"
Using a queued job in laravel,

$droplet = $digitalocean->droplet();
$created = $droplet->create($data);

This code works when the Queue is set to sync (which means its using a file and executing the job in line).

But it fails when actually using a queue.

I'm sure its to do with the async.  Is there a way to force these calls to execute syncronously?

Thanks,

[2018-09-08 05:53] #200 closed

[2018-09-10 20:44] iqdoctor opened #201 "PHP Fatal error: Uncaught Error: Wrong parameters for DigitalOceanV2\Exception\HttpException([string $message [, long $code [, Throwable $previous = NULL]]])"
PHP Fatal error:  Uncaught Error: Wrong parameters for DigitalOceanV2\Exception\HttpException([string $message [, long $code [, Throwable $previous = NULL]]]) in /home/iqdoctor/Hr360Bot/vendor/toin0u/digitalocean-v2/src/Adapter/BuzzAdapter.php:148
Stack trace:
#0 /home/iqdoctor/Hr360Bot/vendor/toin0u/digitalocean-v2/src/Adapter/BuzzAdapter.php(148): Exception->__construct(Object(stdClass), 422)
#1

[2018-09-10 20:47] iqdoctor commented on #201
i think if $body is not valid json, for exsample in case 500 Internal server error, code in \DigitalOceanV2\Adapter\BuzzAdapter::handleError works wrong.

[2018-09-16 09:59] vousys opened #202 "Feature request: API for Spaces"
Hi Guys, Are you planning to add functions to handle spaces?
https://developers.digitalocean.com/documentation/spaces/#object-ops

[2018-09-19 05:01] alignwebs commented on #197
Anyone found solution for it ?

On Sat, Aug 18, 2018 at 3:41 AM, Luciano Cassisi <notifications@github.com>
wrote:

--
Regards

Gulzar Ahmed
*ALiGNWEBS*

Skype: webzar1

View Linkedin Profile

[2018-09-25 16:27] newbreed65 opened #203 "Catch: Unable to authenticate you."
Im trying to catch errors when the API key for DO is wrong but cant seem get the catch statement correct.

Can anyone advise?

use DigitalOceanV2\Adapter\GuzzleHttpAdapter;
use DigitalOceanV2\DigitalOceanV2;
use DigitalOceanV2\Exception;

try {
            $userInformation = $account->getUserInformation();
} catch (DigitalOceanV2\Exception\HttpException $e) {
            echo 'failed auth';
}

![s

[2018-09-26 14:36] cballou commented on #191
I'm in the same boat as @enygma on this one. I had to go cowboy and require `"toin0u/digitalocean-v2": "dev-master"`. You then need to couple this with `"minimum-stability": "dev"` which is less than ideal.

[2018-09-26 14:40] cballou opened #204 "Repo Maintenace"
Someone willing to maintain should fork this repo and add it to packagist. It's clear @toin0u is busy and no longer able to keep up with pull requests and versioning.

[2018-09-26 16:54] GrahamCampbell commented on #204
@toin0u should be able to add more collaborators to this repo, like myself. Unfortunately I don't have permission, since this repo doesn't belong to an organization.

[2018-09-27 10:52] bharatpareek commented on #197
Use Buzz version 0.15.2, it works.

https://packagist.org/packages/kriswallsmith/buzz#v0.15.2

[2018-09-27 11:06] alignwebs commented on #197
Thanks @bharatpareek its working for me!

[2018-09-27 11:06] #197 closed

[2018-10-03 10:27] rodrigoaguilera commented on #177
Thanks for adding it!!

[2018-10-03 10:27] #177 closed

[2018-10-12 08:09] kovkor commented on #202
+1 for this, thank you!

[2018-10-18 18:48] yassirh commented on #204
Hello @cballou I will try to merge all the pull requests soon.

[2018-10-19 09:11] yassirh opened #206 "Build error on php hhvm and php 7.1"
Specs fail when running on hhvm and php 7.1

![image](https://user-images.githubusercontent.com/4649139/47209097-d27d2100-d38f-11e8-9db5-8b0c8638bfed.png)

[2018-10-19 09:13] yassirh commented on #206
@GrahamCampbell can you help me with this ?

[2018-10-20 13:07] yassirh opened #210 "Create a new branch to support php 7.1 and better"
Create a new branch to support php 7.1 and better

[2018-10-20 15:55] #210 closed

[2018-10-20 15:55] GrahamCampbell commented on #210
The current version of this package already works on php 7.1, with guzzle.

[2018-10-20 19:07] GrahamCampbell commented on #206
The error is because semantic versioning allows buzz to make breaking changes. All we need to do is correctly bound what version we require, and we're done.

[2018-10-20 19:07] #206 closed

[2018-10-20 19:12] GrahamCampbell commented on #195
You will need this version of Buzz, rather than what was previously documented:

This should work with PHP 5.4 - 7.3.

[2018-10-21 15:26] GrahamCampbell opened #218 "Remove "documentation" from repo"
I question why we have a large documentation folder committed to the master branch. I propose we either move it to a gh-pages branch, or remove it all together.

// cc @yassirh

[2018-10-21 18:49] yassirh commented on #218
A good idea! it will make the readme page lighter too.

[2018-10-21 22:15] tspencer244 commented on #202
Shouldn't this be a separate library since it's a separate API?

[2018-10-23 16:47] #218 closed

[2018-10-23 16:53] GrahamCampbell opened #223 "2.3.0 Release Checklist"
Ok, I think we should do a 2.3.0 release at the end of this month. What do we want to have included?

[2018-11-10 20:42] yokowasis commented on #198
+1 for this. We need more snapshot operation.

[2018-11-26 06:33] jankremlacek commented on #223
CDN Endpoints support
https://developers.digitalocean.com/documentation/v2/#cdn-endpoints

[2019-01-09 11:45] AndreFabris opened #224 "Cannot log into droplets after creating them programatically"
Hello,

this all works fine for me (I am using Graham's Laravel wrapper), so I can create SSH key pairs, create a droplet and set it all up. Droplets work fine, all is great.

To generate key pair for each droplet I am using this:
https://github.com/ssx/php-ssh-keypair/blob/master/src/KeyPair.php

Now the problem is when I try to access droplet via Putty or similar using Private key I cannot as it

[2019-01-18 16:02] browner12 commented on #223
TTL Support

https://github.com/toin0u/DigitalOceanV2/commit/b90847db5780e5060bd2188ad56a8c227b918b09

[2019-01-18 16:05] browner12 commented on #204
Agreed, last release was 18 months ago.

Maybe add an extra collaborator or 2 so we can get some more progress on this repo.

[2019-01-19 15:47] GrahamCampbell commented on #204
If I could add collaborators, I would.

[2019-01-19 15:47] GrahamCampbell commented on #204
Only @toin0u can.

[2019-01-19 15:49] GrahamCampbell commented on #204
There are no waiting changes though? If people PR stuff, it'll be merged.

[2019-01-19 21:11] browner12 commented on #204
thanks, appreciate it.

[2019-01-27 21:17] #223 closed

[2019-01-27 21:17] GrahamCampbell commented on #223
I've spun off a 2.3.x branch, and master is now 3.x, with support for the latest version of Buzz.

[2019-01-27 21:18] #169 closed

[2019-01-27 21:18] #203 closed

[2019-01-27 21:19] GrahamCampbell commented on #191
Released 2.3.0.

That version constraint should give you the latest 2.x not just 2.0.x.

[2019-01-27 21:19] #191 closed

[2019-01-27 21:19] #195 closed

[2019-01-27 21:19] GrahamCampbell commented on #195
2.3.0 released, with support for older buzz versions. master (3.x) will work with newer buzz versions.

[2019-01-27 21:21] GrahamCampbell commented on #169
I think this should be fixed in the latest release. :)

[2019-01-27 21:21] GrahamCampbell commented on #146
I think this should be fixed in the latest release. :)

[2019-01-27 21:21] #146 closed

[2019-01-27 21:21] #173 closed

[2019-02-05 20:59] alexsnkr opened #229 "Call to a member function getBody() on null GuzzleHttpAdapter.php:132 from Laravel job."
I'm using https://github.com/GrahamCampbell/Laravel-DigitalOcean.

When I use it in a Laravel job I get this error:
`Call to a member function getBody() on null {"exception":"[object] (Symfony\\Component\\Debug\\Exception\\FatalThrowableError(code: 0): Call to a member function getBody() on null at xxx\\vendor\\toin0u\\digitalocean-v2\\src\\Adapter\\GuzzleHttpAdapter.php:132)`

This is the job han

[2019-02-11 22:05] AndreFabris commented on #229
Same issue here. Upgraded to Laravel 5.7, guzzlehttp/guzzle 6.3, graham-campbell/digitalocean 5.1 and it has stopped working

[2019-02-21 20:04] elegasoft commented on #229
I was running into the same issue as well while running jobs in my testing environment. I've found that the root error in my case is actually a `cURL error 60: SSL certificate problem: unable to get local issuer certificate (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)` which causes the `$response` to be `null` in `function handleError()`.

Having followed the accepted answer [StackOverf

[2019-02-24 16:39] GhaziTriki commented on #203
Hello,

Why was this issue closed? I started using this library and I still have this issue. I get `Unable to authenticate you`

[2019-03-01 16:55] DavidAnderson684 commented on #229
See this error all the time (not using Laravel). Happens whenever there is an HTTP timeout. https://github.com/toin0u/DigitalOceanV2/blob/aa3fbe5efba26632665230829aef5ada4fa415cb/src/Adapter/GuzzleHttpAdapter.php#L132 assumes that `$this->response` is a response object, but sometimes it's null.

[2019-03-01 16:58] DavidAnderson684 commented on #229
The easiest way to reproduce is to set an absurdly low timeout, e.g. `$client = new Client(['timeout' => 0.1, 'headers' => ['Authorization' => sprintf('Bearer %s', $api_key)]]);`

[2019-03-08 11:39] keskinbu commented on #197
@bharatpareek thank you :)

[2019-03-09 17:20] bharatpareek commented on #197
Welcome guys. :)

[2019-07-05 01:17] ggedde opened #230 "How to capture Timeout Error from Buzz\Exception\RequestException"
I cannot figure out how to Capture the RequestException when there is a timeout error.
As a result I get a Fatal Error:
`Fatal error: Uncaught Buzz\Exception\RequestException: Operation timed out after`

Instead I have tried to capture it, but it does not work.

I have tried all the following:

[code]

[code]

[code]

I have also tried adding at the top:
use Buzz\Exception\RequestException
or
use

[2019-07-12 01:46] Conver opened #232 "Feature request: API for Firewalls"
Hello,

I've been looking thru the code and it doesn't seem there is a way to control firewalls?

It would be a very neat function, being able to block an IP from accessing your server on network level completely.

[2019-07-12 02:30] Conver commented on #202
+1

[2019-07-12 22:18] Conver commented on #232
Just found out that it isn't possible, but I've added an idea post to DO to see if they'll add it.

https://ideas.digitalocean.com/ideas/FWX-I-11 <- Please give your vote!

[2019-07-30 00:56] andrewhook opened #233 "Feature request: pass through "links" property from API response"
When creating a Droplet, it would be really useful to be able to grab the "links" property from the API response. I want to be able to poll the endpoint to check if the Droplet provisioning has finished.

<img width="570" alt="Screenshot 2019-07-30 at 01 50 41" src="https://user-images.githubusercontent.com/8139253/62092401-edf55080-b26c-11e9-87c3-5d4b65b7b305.png">

Thanks!

[2019-09-04 05:48] John-Henrique commented on #196
Late but, just use...

[code]

[2019-09-08 04:51] John-Henrique opened #234 "Add certificate let`s encrypt"
I want add let`s encrypt certificate to domain, but reading class I understand how use method create. Can you help me?

I don't understand, looks like very different of documentation https://developers.digitalocean.com/documentation/v2/#certificates
[code]

How give domain, type and name?

[code]

[2019-10-04 01:36] cam-vanorman commented on #29
This issue appears to still be under discussion, so I thought I'd add some more info.

When querying `https://api.digitalocean.com/v2/droplets`, the DigitalOcean API returns a `meta` key with `total` number of droplets.

![Screen Shot 2019-10-03 at 6 34 33 PM](https://user-images.githubusercontent.com/5124234/66174970-8365e580-e60c-11e9-995c-7e539239ed3b.png)

Retaining this meta value at the end

[2019-10-08 20:29] cam-vanorman opened #237 "Repository Maintenance and Contributions"
:wave: Hi All,

I wanted to quickly introduce myself and efelle! I'm an application developer [@efellemedia](https://github.com/efellemedia), and our company is currently building an ecosystem of products and services around DigitalOcean and Laravel. Our Director of Application Development, [@kaidesu](https://github.com/kaidesu), has been involved with the Laravel community for a few years and is

[2019-10-18 11:35] turigeza opened #238 "Unable to authenticate you."
Following you example in the readme I am getting this error.
I have tried to regenerate the API key but still the same.
Any ideas ? Thank you.

Fatal error: Uncaught DigitalOceanV2\Exception\HttpException: Unable to authenticate you. in /websites/aapi.younit.app/vendor/toin0u/digitalocean-v2/src/Adapter/BuzzAdapter.php:145 Stack trace: #0 /websites/aapi.younit.app/vendor/toin0u/digitalocean-v2/src

[2019-11-04 16:09] glennjacobs commented on #232
The firewall API would be very handy. I'd consider adding this feature if it was likely to be considered. Is this repo being actively maintained?

[2019-11-05 11:34] glennjacobs commented on #237
28 days and no response. I'm going to propose you fork it, get it on Packagist and start pushing it forward.

I'd like to see all the API endpoints implemented, e.g. Firewalls, Floating IPs, etc. and I'd be happy to contribute.

[2019-11-05 22:10] browner12 commented on #237
yah, would love an active community maintained repo for this.

[2019-11-06 22:02] cam-vanorman commented on #237
Since there's some interest and we're already working on a separate fork, feel free to work with us at https://github.com/efellemedia/DigitalOceanV2.

We can manage releases and add collaborators/maintainers as needed, including the existing ones on this repository. I'll reach out to those that have submitted a PR to see if they'd like to push it to our fork. We'll get our fork setup in Packagist

[2019-11-06 22:25] browner12 commented on #237
it'd be great if we could get DigitalOcean to add this to their Github repositories and make it an "official" library. I think it's kind of crazy that they don't have an official library for the most popular language on the web.  This would also give it more credibility under their namespace.  otherwise I feel like we're fighting an uphill battle to take authority over this package.

[2019-11-06 22:28] GrahamCampbell commented on #237
I'd far rather everyone collaborated on this original project, rather than making a fork in anger, as it were.

[2019-11-06 22:29] GrahamCampbell commented on #237
I'm going to contact the owner directly, since, while I have push access to this repo, I don't have enough time for it, and I really think we need to add more collaborators to the project to take it forward. I don't have permission to do this in the sense that I don't actually have permission to do this on GitHub, and we need to discuss with @toin0u anyway.

[2019-11-06 22:41] browner12 commented on #237
I don't think it's anger.  I think everyone realizes this very popular package is maintained by only 2 people who have other priorities. What everyone is looking for is a solution to make sure this library gets the maintenance and improvements it needs.  I believe it has been proposed in the past to add more maintainers, which would be a great solution, except that it hasn't happened.  The owner o

[2019-11-06 23:15] bentranter commented on #237
I wanted to pop in to say that my team at DigitalOcean (the API/CLI team) has been watching this thread, and I'm working to see if there's any way we can help out.

To be completely transparent, our team is small, and already stretched thin, so we can't commit to taking over maintenance of this repo right now. With that said, I'm talking to our community team right now to see what we can do, so I'

[2019-11-07 09:17] glennjacobs commented on #237
I would suggest we all contribute to https://github.com/efellemedia/DigitalOceanV2 for the moment, at least then we can make some progress and it can support our individual projects.

Would be awesome to see it under the DigitalOcean GitHub organisation, but we shouldn't assume it will be and delay any further.

And if this repo comes back to life, we can decide whether the efellemedia fork gets m

[2019-11-07 09:39] glennjacobs commented on #237
@cam-vanorman can you turn on Issues on your fork?

[2019-11-08 21:10] cam-vanorman commented on #237
I've enabled Issues on the repository @glennjacobs.

I would prefer to find a solution for maintaining the repository with @toin0u and @bentranter. I believe the best place for this would be with DigitalOcean's organization, but that's dependent on their team being able to manage. Full transparency, the team I'm on consists of 3 people, so we too are stretched thin.

@GrahamCampbell Thanks for you

[2019-11-08 21:29] browner12 commented on #237
@bentranter thanks for chiming in and letting us know what's going on at DO.  Do you guys have a policy to decide on if something becomes an official library for the API?  The reason I ask is because I think there are plenty of community members willing to make PRs into the project to the point that hopefully your team was just reviewing and merging the improvements.  However, if you guys have pol

[2019-11-20 20:43] lusy777 opened #239 "Updating an image from the git repository for droplets"
I have an existing image on which the droplet is built. I use this library and I need to update the current image through git using api. Tell me how to do it please (if this possible off course)

[2019-11-27 12:05] glushchenko commented on #238
Solved. Your should instantiate Buzz with middleware, otherwise Header token not be added.

[code]

[2019-11-27 12:43] GrahamCampbell commented on #237
Still no response from the repository owner. I'm going to leave the repository now, since I have no time to maintain it, and don't have permission to add new maintainers.

[2019-12-01 00:07] #29 closed

[2019-12-31 12:03] GrahamCampbell commented on #237
I've now left as a maintainer of this repo, since I don't have time for it. I think the best approach now is for someone to fork it to an organisation, and build a new core team for it.

[2019-12-31 12:03] GrahamCampbell commented on #163
See https://github.com/toin0u/DigitalOceanV2/issues/237. I have now left as a maintainer of this repo.

[2019-12-31 12:03] GrahamCampbell commented on #204
See https://github.com/toin0u/DigitalOceanV2/issues/237. I have now left as a maintainer of this repo.

[2020-01-25 12:32] GrahamCampbell commented on #237
Do people want to make https://github.com/efellemedia/DigitalOceanV2 the new official repo?

[2020-01-25 21:53] cam-vanorman commented on #237
Hey @GrahamCampbell, I've been working with https://github.com/do-community/ and they've agreed to take over the repository/maintenance there instead of at https://github.com/efellemedia. They are currently working on assigning the right individuals to maintain the project going forward.

I'll keep everyone updated once I hear back from the DigitalOcean team.

[2020-01-26 03:28] browner12 commented on #237
great news! thanks DO team

[2020-02-13 03:39] btafoya opened #241 "Fatal error: Uncaught DigitalOceanV2\Exception\HttpException: Request not processed. in /~/vendor/toin0u/digitalocean-v2/src/Adapter/GuzzleHttpAdapter.php:137"
Just recently started getting this error:

`Fatal error: Uncaught DigitalOceanV2\Exception\HttpException: Request not processed. in /~/vendor/toin0u/digitalocean-v2/src/Adapter/GuzzleHttpAdapter.php:137`

php7.3

Code snippet failing:

[code]

Any suggestions are appreciated.

[2020-02-13 03:44] btafoya commented on #241
Also fails with the same message in php 5.6 and 7.1

[2020-02-13 04:02] btafoya commented on #241
Not an issue, DO decided to invalidate the key for whatever reason.

[2020-02-13 04:02] #241 closed

[2020-02-24 02:23] bitwombat commented on #104
This needs to be re-opened. There is no DigitalOceanV2\Adapter\Guzzle5Adapter in the current codebase, yet the original problem remains of Guzzle being mandatory (despite the examples in README.md).

[2020-02-24 02:24] bitwombat commented on #238
Does this mean the examples need to be updated?

[2020-02-24 07:24] GrahamCampbell commented on #104
It's called `GuzzleHttpAdapter`.

[2020-02-24 07:25] GrahamCampbell commented on #104
And the documentation on the readme is not "a little off". It says it is showing the Buzz adapter as an example.

[2020-04-18 21:25] dragmecom commented on #104
Would just recommend adding a Guzzle and Buzz versions of the example, since it's making people get lost.

[2020-04-26 19:13] consigliere23 commented on #238
seems not :/

[2020-04-27 15:27] glushchenko commented on #238
@consigliere23 seems? Examples not working anymore. It's exactly.

[2020-04-27 21:30] glennjacobs commented on #237
@cam-vanorman did you get any progress on this? I'm getting back to my project and realised I'll need VPC endpoints also. Would be nice to have a maintained package to contribute to.

[2020-04-27 21:56] cam-vanorman commented on #237
Hi Glenn,

At this time I'm not sure what the future of this repository looks like. Digitalocean expressed interest in maintaining this and the current community, but I don't believe they want to hard fork the repository if there's a way for the current maintainer to transfer it to the digitalocean community on GitHub.

[2020-04-27 22:28] glennjacobs commented on #237
@toin0u are you out there? :-)

He seems to be active on Twitter. Might be an option. I guess for the moment I'll fork the repo and do what I need.

[2020-04-28 07:21] toin0u commented on #237
Hi all - I'm very sorry for everything. Many things happended in my privat life.

I will give all the rights to @GrahamCampbell who is more than trusted in our community.

Happy coding!

[2020-04-28 08:12] glennjacobs commented on #237
Thanks @toin0u, I hope your private matters are OK now.

[2020-04-28 08:30] GrahamCampbell commented on #237
As I said, I am no longer interested in maintaining this repo, however I have temporarily accepted the request to collaborate. We are currently stuck though, because this repo belongs to your personal account, so I don't have any admin permissions. You will need to transfer this repo to an organisation in order to give other people admin permissions. I'd suggest `do-community`, if they still want

[2020-04-28 08:51] glennjacobs commented on #237
@toin0u do you want to transfer the repo to our business organisation https://github.com/neondigital ?

Then I'm happy to work with @cam-vanorman to find a proper long-term home for it.

We've been around for 15 years, so not going anywhere :-)

[2020-04-28 09:19] GrahamCampbell commented on #237
What usually works best is that an organisation independent from anyone is created on GitHub, and then the current maintainers are made owners. It mirages against the bus factor and people changing jobs, etc. For example https://github.com/laravel-auto-presenter/.

[2020-04-28 09:20] GrahamCampbell commented on #237
The organisation name `DigitalOceanV2` is currently not taken. Should we use that?

[2020-04-28 09:20] GrahamCampbell commented on #237
`DigitalOceanPHP` is also available.

[2020-04-28 09:37] glennjacobs commented on #237
Makes sense. I think the latter, it explains it better.

@GrahamCampbell do you want to make the organisation `DigitalOceanPHP` and then have @toin0u transfer it?

[2020-04-28 09:48] GrahamCampbell commented on #237
Done: https://github.com/DigitalOceanPHP. :)

![image](https://user-images.githubusercontent.com/2829600/80473225-bf142400-893d-11ea-9403-1a43d49db11a.png)

[2020-04-28 09:51] glennjacobs commented on #237
Over to you @toin0u :-)

[2020-04-28 09:53] GrahamCampbell commented on #237
Note that in order not to break existing code, @toin0u should make sure that he never forks the repo to his personal account after moving the repo to an org, so that GitHub continues to redirect old downloads by composer, correctly.

[2020-04-28 09:54] GrahamCampbell commented on #237
Also, the new team need adding to https://packagist.org/packages/toin0u/digitalocean-v2, so that they can update the GitHUb URL and have auto-updating.

[2020-04-28 09:57] glennjacobs commented on #237
@GrahamCampbell do you know of any nice way to change Packagist so that we can have a nicer package name that doesn't require "toin0u"? Would be nice to have it match the new organisation. But at the same time, we don't want to break stuff.

[2020-04-28 10:16] toin0u commented on #237
@GrahamCampbell Thanks for the org and all the efforts. I will add you in packagist and move the repo. I will not fork it into my private account no worries.

[2020-04-28 10:23] toin0u commented on #237
@GrahamCampbell @glennjacobs and all others people involved or using it. Thank you very much guys. Sorry I could not support everyone that much :/

The repo is transfered to https://github.com/DigitalOceanPHP and @GrahamCampbell is added to packagist!

[2020-04-28 10:23] #237 closed

[2020-04-28 10:32] glennjacobs commented on #239
If you take a look at https://developers.digitalocean.com/documentation/v2/#images you'll see what options there are.

I don't think this package currently supports what you require, but you're welcome to do a pull request to add it in.

[2020-04-28 10:33] glennjacobs commented on #238
If the examples are out of date, can you help by creating a pull request for the changes required?

[2020-04-28 10:37] glennjacobs commented on #234
Doesn't look like LetsEncrypt is supported at present. Have flagged as an enhancement.

[2020-04-28 10:43] glennjacobs commented on #224
Do you still need help with this?

[2020-04-28 10:43] GrahamCampbell commented on #237
Thank you, and stay safe! :)

[2020-04-28 10:44] #204 closed

[2020-04-28 10:45] glennjacobs commented on #201
This is very old. I'm going to close as the error doesn't match the current version of the package.

[2020-04-28 10:45] #201 closed

[2020-04-28 10:49] glennjacobs commented on #190
See #229 for more recent report of this bug.

[2020-04-28 10:49] #190 closed

[2020-04-28 10:51] glennjacobs commented on #188
I've not seen this and considering this was back in 2017, I'll close.

[2020-04-28 10:51] #188 closed

[2020-04-28 10:51] #181 closed

[2020-04-28 10:51] #180 closed

[2020-04-28 10:52] #163 closed

[2020-04-28 10:52] #158 closed

[2020-04-28 10:53] glennjacobs commented on #157
Marked as an enhancement to see if it needs looking at.

[2020-04-28 10:56] glennjacobs commented on #202
It's a separate API, but it's certainly something to be considered.

Here's a link to the documentation.
https://developers.digitalocean.com/documentation/spaces/

Any suggestions on how we should support this?

[2020-04-28 12:14] glennjacobs opened #245 "Buzz 1.x support"
Update Buzz to latest version

https://github.com/kriswallsmith/Buzz

[2020-05-11 19:45] glennjacobs commented on #232
Looks like you can add rules now, see https://developers.digitalocean.com/documentation/v2/#add-rules-to-a-firewall

I'm going to need firewall control soon, so will be working on it.

[2020-05-11 19:48] glennjacobs opened #247 "Release 3.0.0"
We have some pull requests in the waiting, do we want to get them merged into a 2.4 release?

Or shall we wait for some more substantial improvements?

[2020-05-11 20:26] cam-vanorman commented on #247
Hey @glennjacobs, I haven't had a chance to get back to this repo and follow-up with the open pull requests. I can set time aside in the next couple of weeks to test/review a few PRs. Let me know if there are any you want to test/review and I can assign myself to a few others for review.

[2020-05-11 22:47] GrahamCampbell commented on #247
There is currently no 2.4.x release series. We only have 2.3.x on the 2.3 branch and 3.0.x on the master branch.

[2020-05-11 22:48] GrahamCampbell commented on #247
There have already been breaking changes on the master branch, like removing guzzle 3 support, and also (technically not breaking) the removal of support for PHP 5 and 7.0.

[2020-05-11 22:49] GrahamCampbell commented on #247
https://github.com/DigitalOceanPHP/DigitalOceanV2/compare/2.3.0...master

[2020-05-11 22:50] GrahamCampbell commented on #247
The next release will be 3.0.0 I guess (there are no untagged changes on the 2.3 branch at the moment).

[2020-06-28 14:54] GrahamCampbell opened #248 "Guzzle 7 Support"
Related to https://github.com/GrahamCampbell/Laravel-DigitalOcean/issues/33.

[2020-07-08 10:08] GrahamCampbell opened #249 "[5.0] [RFC] Design for version 5.0"
Lessons learnt from earlier versions:

1. ~Trying to support different versions of Guzzle and Buzz ourselves is a mess, and leads to bugs. We should instead use PSR-7/17/18 with PHP HTTP discovery (replaces #157, #245).~ Done in version 4.0.
2. Entities are a bad idea. They are hard to keep updated and accurate, and frustrating for users. Plain arrays are fine, and the APIs are already documented

[2020-07-08 10:14] #7 closed

[2020-07-08 10:14] #157 closed

[2020-07-08 10:15] GrahamCampbell commented on #157
Moving to part of the v4 design issue https://github.com/DigitalOceanPHP/DigitalOceanV2/issues/249. I am planning to smash out a fresh package for v4 which will feel like the old package, but have none of the issues and all of the compatibility. ;)

[2020-07-08 10:15] GrahamCampbell commented on #7
Moving to part of the v4 design issue https://github.com/DigitalOceanPHP/DigitalOceanV2/issues/249. I am planning to smash out a fresh package for v4 which will feel like the old package, but have none of the issues and all of the compatibility. ;)

[2020-07-08 10:16] GrahamCampbell commented on #229
~Moving to part of the v4 design issue https://github.com/DigitalOceanPHP/DigitalOceanV2/issues/249. I am planning to smash out a fresh package for v4 which will feel like the old package, but have none of the issues and all of the compatibility. ;)~ EDIT: See comment below.

[2020-07-08 10:16] GrahamCampbell commented on #245
Moving to part of the v4 design issue https://github.com/DigitalOceanPHP/DigitalOceanV2/issues/249. I am planning to smash out a fresh package for v4 which will feel like the old package, but have none of the issues and all of the compatibility. ;)

[2020-07-08 10:16] #245 closed

[2020-07-08 10:16] #229 closed

[2020-07-08 10:17] #189 closed

[2020-07-08 10:19] GrahamCampbell commented on #189
We don't be supporting the spaces API here (apart from possibly a small number of meta methods) because their API was designed to be S3-compatible, so you can just use Amazon's SDK (https://github.com/aws/aws-sdk-php) or alternative S3 clients such as https://github.com/async-aws/aws.

[2020-07-08 10:20] GrahamCampbell commented on #234
~Moving to part of the v4 design issue #249. I am planning to smash out a fresh package for v4 which will feel like the old package, but have none of the issues and all of the compatibility. ;)~

EDIT: Implemented this in v3.0.0.

[2020-07-08 10:20] #234 closed

[2020-07-08 10:21] GrahamCampbell commented on #238
~Moving to part of the v4 design issue #249. I am planning to smash out a fresh package for v4 which will feel like the old package, but have none of the issues and all of the compatibility. ;)~

EDIT: Robust implementations of Buzz 0.16 and Guzzle 6 adapters are implemented in the 3.0.0 release.

[2020-07-08 10:21] #238 closed

[2020-07-08 10:21] GrahamCampbell commented on #230
~Moving to part of the v4 design issue #249. I am planning to smash out a fresh package for v4 which will feel like the old package, but have none of the issues and all of the compatibility. ;)~ EDIT: See comment below.

[2020-07-08 10:21] #230 closed

[2020-07-08 10:22] #224 closed

[2020-07-08 10:22] #196 closed

[2020-07-08 10:23] GrahamCampbell commented on #198
#238,

[2020-07-08 10:23] #198 closed

[2020-07-08 10:23] GrahamCampbell commented on #198
Moving to part of the v4 design issue #249. I am planning to smash out a fresh package for v4 which will feel like the old package, but have none of the issues and all of the compatibility. ;)

[2020-07-08 10:23] GrahamCampbell commented on #202
We don't be supporting the spaces API here (apart from possibly a small number of meta methods) because their API was designed to be S3-compatible, so you can just use Amazon's SDK (https://github.com/aws/aws-sdk-php) or alternative S3 clients such as https://github.com/async-aws/aws.

[2020-07-08 10:23] #202 closed

[2020-07-08 10:24] GrahamCampbell commented on #239
~Moving to part of the v4 design issue #249. I am planning to smash out a fresh package for v4 which will feel like the old package, but have none of the issues and all of the compatibility. ;)~

[2020-07-08 10:24] #239 closed

[2020-07-08 10:24] GrahamCampbell commented on #232
Moving to part of the v4 design issue #249. I am planning to smash out a fresh package for v4 which will feel like the old package, but have none of the issues and all of the compatibility. ;)

[2020-07-08 10:24] #232 closed

[2020-07-08 10:25] #248 closed

[2020-07-08 11:57] #247 closed

[2020-07-08 16:36] GrahamCampbell commented on #249
I've just done some work on v3, first, so that migrating from v2 -> v3 shouldn't be too jarring, and then v3 -> v4 will be even simpler. In particular, v3 now automatically discovers the available http clients (either Guzzle or Buzz) in much the same way v4 will. Now you just make a new digital ocean client, and away you go!

[2020-07-08 16:36] GrahamCampbell commented on #249
https://github.com/DigitalOceanPHP/Client/tree/3.0#examples

[2020-07-09 11:08] GrahamCampbell commented on #229
Update: Actually, I think I have fixed this in the 3.0 branch now, so this will be included in the 3.0.0 release. I think this error was happening when there was some kind of transport error resulting in an exception from guzzle which did not contain a response.

[2020-07-09 11:10] GrahamCampbell commented on #230
Update: Actually, I will address this in time for the 3.0.0 release.

[2020-07-09 21:42] GrahamCampbell opened #250 "[3.0] Implement "ActionWaiter""

[2020-07-09 21:42] GrahamCampbell opened #251 "[3.0] Implement "ResultPager""

[2020-07-12 22:13] GrahamCampbell commented on #250
Hmmm, I don't think this belongs in the core tbh.

[2020-07-12 22:13] #250 closed, assigned to nobody

[2020-07-12 22:13] GrahamCampbell commented on #251
Done!

[2020-07-12 22:13] #251 closed, assigned to nobody

[2020-07-12 22:16] GrahamCampbell commented on #198
This already exists. Pass the snapshot ID as the image parameter when creating a droplet.

[2020-07-12 22:18] GrahamCampbell commented on #239
It is not possible to "upload" images using their API.

[2020-07-16 10:53] GrahamCampbell commented on #238
EDIT: Robust implementations of Buzz 0.16 and Guzzle 6 adapters are implemented in the 3.0.0 release.

[2020-07-16 10:55] GrahamCampbell commented on #238
New code for v3 of the library:

[code]

No need to do anything with adapters. As long as the current version of Guzzle or Buzz is installed, we will automatically discover it.

[2020-07-16 10:56] GrahamCampbell commented on #248
Implemented in v3.0.0.

[2020-07-16 11:07] GrahamCampbell commented on #7
EDIT: Pagination is now implemented in v3.0.0 without using links. Once we remove entities in v4, we'll be able to re-implement pagination using links, properly.

[2020-08-13 11:36] glennjacobs commented on #249
Something to consider @GrahamCampbell is that DigitalOcean are creating an OpenAPI spec for their API. This will make generating a PHP client a breeze (if it actually happens). See https://github.com/digitalocean/api-v2/issues/190

I've placed a comment to see what the progress is.

[2020-08-19 19:59] oleksandr-roskovynskyi opened #253 "How to create a database?"

[2020-08-19 20:31] GrahamCampbell commented on #253
I don't think we support that API yet. You can sponsor this feature by sponsoring me at https://github.com/sponsors/GrahamCampbell, or you can contribute it yourself by sending a PR. :)

[2020-09-14 09:47] matt-croft opened #254 "Tagging Resources Throws a Runtime Exception"
When tagging resources it returns a 204 Status Code Response.

https://developers.digitalocean.com/documentation/v2/#tag-a-resource

This is done via the post method in the abstract api, the ResponseMediator will check for the 204 and return null,
but the AbstractApi will then throw a runtime exception because the content is null.

[2020-09-14 15:56] GrahamCampbell commented on #254
Thanks for the report. What version of this package are you using, please?

[2020-09-14 17:03] matt-croft commented on #254
Currently using the v3.0.0 tagged version

[2020-11-27 23:58] #254 closed, assigned to nobody

[2020-11-27 23:58] #253 closed, assigned to nobody

[2020-12-07 18:01] bentranter commented on #249
👋 Hey everyone, just wanted to share that we've open sourced our OpenAPI spec at https://github.com/digitalocean/openapi. It's in early access for now and will likely change some more before an official release, but it could be useful to test out client generation, if you're interested 🙂

[2020-12-12 19:27] GrahamCampbell commented on #233
Closing due to inactivity.

[2020-12-12 19:27] #233 closed

[2020-12-17 12:12] wrabit commented on #202
@GrahamCampbell Apart from Spaces CDN

[2020-12-23 19:26] timramseyjr opened #260 "Feature Request: CDN Endpoints"
Are there any plan to offer support for CDN Endpoints?

https://developers.digitalocean.com/documentation/v2/#cdn-endpoints

[2020-12-23 20:25] GrahamCampbell commented on #260
Thanks for getting in touch. I'd review any PR to add support. Alternatively, I would be willing to implement it for a fee. :)

[2021-01-02 08:39] alikmanukian opened #261 "Please fix ResponseMediator CONTENT_TYPE_HEADER"
Hey guys.
Please fix CONTENT_TYPE_HEADER value from 'Content-type' to 'content-type'.
ResponseMediator::getContent throws Exception because $response['headers'] = ['content-type' => 'application/json'] instead of ['Content-Type' => 'application/json']. Few days ago everything was working good. Today it has broken.

Thanks.

[2021-01-02 11:59] GrahamCampbell commented on #261
I don't follow. The code always has had `Content-Type`, and still does. The addition of that constant was purely refactoring: https://github.com/DigitalOceanPHP/Client/commit/a3742c6e2185d3c217573633db282040c62f1d73#diff-0e3b8d8b7fa64bd9ae52d4a7e79013759c72056b0fd5100f88e179e1df1e0c2f.

[2021-01-02 12:00] GrahamCampbell commented on #261
Please describe what it is that is broken, and we can investigate, otherwise, we have nothing to go on, here.

[2021-01-02 12:09] alikmanukian commented on #261
Please try to create domain.
In response I have started to get 'content-type' instead 'Content-Type'.
[code]

You will get `RuntimeException`. with message `The content type was not application/json`.

[2021-01-02 12:16] GrahamCampbell commented on #261
Can you run `composer show`?

[2021-01-02 12:25] alikmanukian commented on #261
[code]

[2021-01-02 12:54] GrahamCampbell commented on #261
Please update your dependencies and try now.

[2021-01-02 13:50] alikmanukian commented on #261
Now it works good!

Thanks.

[2021-01-02 14:07] #261 closed, assigned to nobody

[2021-01-08 05:31] shihjay2 opened #262 "Feature request: API for Apps"
Any plans to include functions for the [Apps Platform](https://developers.digitalocean.com/documentation/v2/#apps)?

[2021-01-08 17:40] GrahamCampbell commented on #262
Thanks for getting in touch. Please email me if you'd like a quote for this to be developed any added to this package.

[2021-01-10 13:24] GrahamCampbell commented on #262
Will be available in the 4.1.0 release. In the meanwhile, you can use `^4.1@dev` to install it.

[2021-01-10 13:24] #262 closed, assigned to nobody

[2021-01-10 13:24] #260 closed, assigned to nobody

[2021-01-19 11:27] menjilx opened #264 "PHP SDK for Spaces"
Hi,

I checked the "readme" file but I couldn't find the exact "docs" of the API for the "DO Spaces", or I just missed it.

Thank you!

[2021-01-19 11:47] GrahamCampbell commented on #264
You can just use the official AWS PHP SDK or the https://async-aws.com/ S3 client.

[2021-01-19 11:47] #264 closed, assigned to nobody

[2021-01-25 13:18] LewisSmallwood opened #265 "DomainRecord create method missing optional name attribute for NS records"
Hi there,

The content for the `create()` method of `DomainRecord` is missing the "name" attribute for records of type "NS".

Although not explicitly stated in the documentation provided by DO for this method, the API does accept the name attribute as optional.

It would be great to modify the API to allow this as an optional record, defaulting back to @ if not provided.

[2021-01-25 13:51] LewisSmallwood commented on #265
Upon further investigation, and contrary to the documentation from DO, the name attribute is required.

Without it this error is thrown:

![image](https://user-images.githubusercontent.com/1150414/105714517-5bdb1080-5f14-11eb-89b4-a0f925291277.png)

I have updated the PR accordingly.

[2021-01-25 14:51] GrahamCampbell commented on #265
Thanks!

[2021-01-25 14:51] #265 closed, assigned to nobody

[2021-01-27 17:56] sdwru opened #267 "Cannot install, missing requires psr/http-client-implementation"
I am get the following error on `composer install`.

[code]

Searching around it can't find that package on its own and I already have guzzle 7 installed.

[2021-01-27 17:57] #267 closed, assigned to nobody

[2021-01-27 17:59] sdwru commented on #267
Nevermind. I had it ignoring guzzle install because it's in the parent app but that wasnt' good enough I guess or it is an older version.

[2021-01-30 23:55] LewisSmallwood opened #268 "Create droplet private_networking property deprecated"
In reference to [the docs](https://developers.digitalocean.com/documentation/v2/#create-a-new-droplet), the `private_networking` attribute has been deprecated as of April 2020 and should be replaced with the new `vpc_uuid` attribute.

[2021-01-31 00:26] GrahamCampbell commented on #268
I'd consider a PR to make it possible to use the new attribute, in a BC-preserving way.

[2021-02-01 17:59] LewisSmallwood opened #269 "Floating IP assign/unassign methods should take in the IP address string rather than int."
The assign and unassign methods for Floating IPs should take in an IP Address identifier as a string rather than int values.

Will open PR for this shortly.

[2021-02-01 20:48] #269 closed, assigned to nobody

[2021-02-01 21:03] GrahamCampbell commented on #269
Will be fixed in the next 4.1.x release.

[2021-02-01 21:03] GrahamCampbell commented on #268
Will be fixed in the next 4.2.x release.

[2021-02-01 21:03] #268 closed, assigned to nobody

[2021-02-07 15:41] sdwru opened #273 "Add Firewall class to Client.php"
Seems like a no-brainer unless there is some reason this has not been done yet.  I can create the pull request myself but wanted to ask if there are any plans for this first.

[2021-02-10 11:20] LewisSmallwood commented on #269
How often do releases happen @GrahamCampbell?

[2021-02-19 10:03] LewisSmallwood commented on #269
Hey @GrahamCampbell, any chance you could release 4.1.1 soon?

I'm waiting on the floating IP functionality to be added to Laravel 😄

Cheers 🍻

[2021-02-20 20:29] #273 closed, assigned to nobody

[2021-02-20 20:29] GrahamCampbell commented on #273
Done. :)

[2021-03-09 12:43] kcalliauw opened #279 "Unknown named parameter $type when using pagination with array"
Hello!

Below error when calling this:

    $imageTypeFilter = ['type' => 'distribution'];
    $images = $pager->fetchAll($client->image(), 'getAll', $imageTypeFilter);

![image](https://user-images.githubusercontent.com/1638303/110471828-e8185000-80dc-11eb-90ce-c1ec8fd4c847.png)

Not exactly sure why this happens, but changing `...$parameters` to just `$parameters` on ResultPager.php line 87 fixe

[2021-03-09 13:22] GrahamCampbell commented on #279
This is because your array needs to be of the format `['distribution']` and not `['type' => 'distribution']`. PHP 8 has started to be fussy about this.

[2021-03-09 13:22] #279 closed, assigned to nobody

[2021-03-09 13:34] kcalliauw commented on #279
This yields another error.
Also I don't understand how this would be the solution. The getAll function for the Image API can take both "type" as a parameter and "private". Passing that array `['distribution']` just yields a string inside that function, while it's expecting an associative array, as far as I can see in the code.

![image](https://user-images.githubusercontent.com/1638303/110478050-2

[2021-03-09 14:02] GrahamCampbell commented on #279
Oh, you need `[['type' => 'distribution']]`, then.

[2021-03-09 14:04] kcalliauw commented on #279
Worked like a charm! Thank you :+1:

[2021-03-09 17:21] webignition opened #280 "Release 4.2.1 to include fix for missing `$vpcUuid` default value"
#277 adds a missing default value for `$vpcUuid` when calling `Droplet::create()`.

This fix has was merged into master after 4.2.0 was released.

Can we have a minor 4.2.1 release which is basically `4.2` up to `6893187fefa8c81ef095ac8dcd918497a37d8860`?

[2021-03-09 17:26] GrahamCampbell commented on #280
Yes and no. There will be a release soon, but no, it's not happening today. You can still install this code using `^4.2.1` even if there is no tag, by using dev stability in combination with prefer-stable in your app's composer.json file.

[2021-03-09 17:26] #280 closed, assigned to nobody

[2021-03-09 17:27] webignition commented on #280
Cool, cheers :+1:

[2021-04-13 10:12] webignition opened #282 "Feature request: delete droplet by tag"
I have the need to delete a droplet without necessarily knowing the id of the droplet.

The API [supports doing so](https://developers.digitalocean.com/documentation/v2/#deleting-droplets-by-tag) but neither the 4.3 or 4.4 branches appear to support this (apologies if I missed something).

The addition of a method to `DigitalOceanV2\Api\Droplet` seems straightforward and, aside from possible metho

[2021-04-13 10:49] webignition commented on #282
After attempting implementation, I realise that the above method suggestion won't work but have determined what will.

[2021-05-11 13:21] khrizt commented on #260
I've added a PR for [CDN Endpoints support](https://github.com/DigitalOceanPHP/Client/pull/284)

[2021-06-07 17:58] GrahamCampbell commented on #282
Merged into 4.4. :)

[2021-06-07 19:00] webignition commented on #282
Awesome!

[2021-06-07 19:00] #282 closed, assigned to nobody

[2021-07-15 08:40] webignition opened #287 "Policy on PHP 8 named argument usage?"
Have there been any thoughts or decisions made on whether to support the use of [PHP 8's named argument feature][1] in calling code?

Clearly you cannot stop calling code from choosing to use a named argument approach but you can choose whether to opt to avoid BC breaks by never changing argument names.

Some projects have chosen to explicitly support named arguments (making argument names part of

[2021-09-09 11:36] GrahamCampbell commented on #249
Not stale.

[2021-10-05 00:13] sdwru opened #294 "Add support for monitoring API"
I think this is a recent addition.

https://docs.digitalocean.com/reference/api/api-reference/#tag/Monitoring

[2021-10-05 18:06] GrahamCampbell commented on #287
Thanks for getting in touch. The policy for now is that argument names are not included in the BC promise, just like Laravel.

[2021-10-05 18:06] #287 closed, assigned to nobody

[2021-10-06 16:32] sdwru commented on #294
Just wondering if I should do this myself or wait?  I need this for a project I am working on but it might be awhile before I have time to submit a pull request for it.

[2021-10-20 15:51] webignition commented on #294
I'd say it'd be best to implement this yourself. By both implementing and using the change you can be sure it works.

[2021-10-21 19:36] sdwru commented on #294
They did this api a little differently than usual so I can't just go by other examples in this sdk.   They have sub and sub sub urls on this one
[code]
[code]
https://docs.digitalocean.com/reference/api/api-reference/#tag/Monitoring

If someone can give an example what file structure this should have it would be helpful so that I can eventually merge this here.

Right now I am doing the basic stru

[2021-11-18 17:01] webignition opened #296 "`Entity\Droplet::tags` incorrectly type-hinted as `Tag[]`"
`Entity\Droplet::tags` is type-hinted as `Tag[]`, indicating an array of `Entity\Tag`.

When using `Api\Droplet` to retrieve an entity, I can see that the `tags` property contains an array of `string` not an array of `Entity\Tag`.

[code]

I'm perfectly happy with `Entity\Droplet::tags` being an array of strings, it's nice and simple and works exactly how I need.

In cases were I need to pass `$dr

[2021-11-23 11:50] GrahamCampbell commented on #294
Added in v4.4.0. :)

[2021-11-23 11:50] #294 closed, assigned to nobody

[2021-11-23 11:52] #296 closed, assigned to nobody

[2021-11-23 11:52] GrahamCampbell commented on #296
Thanks. I've fixed the typo in the phpdoc.

[2021-11-23 14:43] webignition commented on #296
:+1: thanks!

[2021-11-25 14:49] webignition opened #297 "Api\Image::getById() accepts only int, should accept int|string"
`Api\Image::getById()` is [type-hinted to accept an `int` argument](https://github.com/DigitalOceanPHP/Client/blob/7daf50d13372795f5ddeeb4510836662a9c71ce2/src/Api/Image.php#L60):

[code]

The [DigitalOcean API docs for this feature](https://docs.digitalocean.com/reference/api/api-reference/#operation/get_image) state that the `image_id` parameter can be either `int` or `string`.

This isn't a sig

[2021-11-28 12:56] sirchuck opened #298 "Ubuntu 20.04 composer install fail"
Is there a new name for the package requirement I should use, v2:^4.4 isn't working on Ubuntu 20.04?

composer require "toin0u/digitalocean-v2:^4.4"
_______RESPONSE_______________________
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Root composer.json requires toin0u/digitalocean-v2 ^4.4, found toin0u/digitalocean-v2[4.4.x-dev] but it does not match

[2021-11-28 13:41] GrahamCampbell commented on #298
There is no v4.4.0 tag yet, sorry. Please use the instructions from the 4.3 branch for now.

[2021-11-28 13:41] #298 closed, assigned to nobody

[2021-11-28 13:42] #297 closed, assigned to nobody

[2021-11-28 13:43] GrahamCampbell commented on #297
Thanks, but the integer ids are fine. Their docs say both private and public images have integer ids. The slugs are just an alternative way to reference some public images. We're not gonna support that here. :)

[2021-11-29 09:35] webignition commented on #297
Fair enough :)

[2022-05-11 15:24] sdwru opened #301 "Meta.php Entity class, what is it for?"
I don't see Meta class used anywhere in the code or mentioned in the docs.  I can see what it is intended to access on the API but how do I use it?  Seems to me there should maybe be a generic method in AbstractApi.php to access it.  Perhaps just using something like
[code]

[2022-05-11 15:45] sdwru opened #302 "PHP 7.4 requirement"
Any chance you can lower that to php 7.3?  We still use that for several things and it would be difficult to upgrade.

[2022-05-11 20:00] GrahamCampbell commented on #302
No plans. If you are happy with an EOL version of PHP, you can also be happy with an older version of this library, from before we dropped support. :)

[2022-05-11 20:00] #302 closed, assigned to nobody

[2022-05-11 20:00] GrahamCampbell commented on #302
v4.4.0 was the last release to support PHP 7.3.

[2022-05-11 20:02] sdwru commented on #302
If the reason is because 7.3 is EOL there is no reason to enforce that in a peripheral library imo.  This library has not been keeping up with changes to the API, seems to me that should be a higher priority. We are probably going to have to fork this now because we need the changes that we ourselves have submitted pull requests on.  There won't be much incentive to do that once we are using our o

[2022-05-11 20:06] sdwru commented on #302
Using old versions is not an option because we contributed some new things that the project has not kept up with.  Seems to me those priorities are backwards but that's just me.  By raising the PHP version you are guaranteeing that we will need to fork and maintain our own version, therefore stifling contributions.

[2022-05-12 07:57] GrahamCampbell commented on #302
I'd highly recommend putting in the effort to upgrade to PHP 7.4.

[2022-05-12 17:21] sdwru commented on #302
WHMCS has only started supporting PHP 7.4 with their latest release and I don't see them supporting PHP 8 anytime soon.  I have no control over that.

As I said before, if your reason for doing it is because 7.3 is EOL that shouldn't be enforced in a peripheral library anyways imo.  Anyone who wants/needs to use a newer version still can.

[2022-05-22 14:16] GrahamCampbell commented on #301
Correct, there is no meta entity, and it is not intended that consumers of this library should need to access it. This library already provides a pagination abstraction.

[2022-05-22 14:16] #301 closed, assigned to nobody

[2022-06-10 18:39] GrahamCampbell commented on #249
:wave:

[2022-08-04 21:20] spicybeefnoodle opened #303 "Add support for Project Resources API"
https://docs.digitalocean.com/reference/api/api-reference/#tag/Project-Resources

When you create a new resource (for instance, a droplet), there is no option to assign it to a specific project at the same time. It simply attaches itself to the default project, which is not handy when you have multiple projects going. You have to do it afterwards using the Project Resources API.

I didn't see that

[2022-08-30 17:29] mrahmadt opened #305 "dropletClient->getAll return empty array"
Hello

I noticed something strange that I'm not sure if this is an issue related to this library or maybe something else

If I run the following command  (and I noticed this only happens to me when using Laravel scheduler) sometime dropletClient->getAll(tag) will return an empty array (no error) while I still have multiple droplets with the specified tag
[code]

The only way to get the correct res

[2022-08-30 20:05] mrahmadt commented on #305
Not only do I get an empty array, but also seems all the droplets got deleted from my account!

I start losing my mind :)

[2022-09-10 16:01] mohameedsherif commented on #303
why not exists in last version?

[2022-09-13 10:40] mohameedsherif opened #306 "Project Resources API"

[2022-09-23 10:39] LucaRed opened #307 ""Floating IPs" have been renamed to "Reserved IPs""
The "Floating IP" endpoints have been renamed to "Reserved IP".

[From the official release notes](https://docs.digitalocean.com/release-notes/#2022-06-16):

[2022-11-09 08:29] #249 closed